[2013-05-01 07:46] khoaofgod opened #1 "Supported APC, Memcached, Wincache, and Files"
Supported APC, Memcached, Wincache, and Files
We are working on this one.

As my schedules, this task will be finish before July 2013.

[2013-05-06 06:44] saiful opened #2 "Error Writable permission!"
Hallo Khoafgod...

I am trying phpfascache but I get error "Please re-upload the caching file caching.0777 and chmod it 0777 or Writable permission!"

I am using Mac with Mamp Pro and I have change attribut the caching.0777 writable...
Do you know what exactly my problem?

Thanks

[2013-05-07 00:00] #1 closed, assigned to khoaofgod

[2013-05-07 00:05] khoaofgod opened #3 "Have a question? Feel FREE to post it here"
If you have any questions or you need my help, just create a topic here.

I will take care it on couple hours.

You can also skype me: khoaofgod

**\* PLEASE do not reply this topic, just create new one ^_^ Thanks, dude.

[2013-05-08 22:18] saiful opened #4 "Cache PATH"
Helo Khoafgod...

I want to ask about Cache PATH, I have set cache path to another path but it's still in current directory, how to fixed it?
Example :
phpFastCache::$path = SRV_ROOT.CACHE;// absolute path

I look at Line 162 self::$path = dirname(**FILE**);
how about if dirname(**FILE**) change to user defined parameter?

if php_fast_cache.php in my folder directory like library/php_fast_cache.ph

[2013-05-09 00:44] #4 closed, assigned to khoaofgod

[2013-05-09 00:44] #2 closed, assigned to khoaofgod

[2013-05-09 08:51] levani opened #6 "Add composer support"

[2013-05-10 07:35] tkaratug opened #9 "MySql queries"
I couldn't cache mysql queries. Can you show an example pls?

[2013-05-10 09:25] #3 closed, assigned to khoaofgod

[2013-05-10 09:25] #9 closed, assigned to nobody

[2013-05-10 09:27] #6 closed, assigned to khoaofgod

[2013-05-11 19:08] khoaofgod opened #10 "X Cache is supported & Bugs Report here"
X-Cache have supported.

[code]

All bugs about x-cache please report here.

AUTO Mode Priority: APC, XCache, MemCached, MemCache, WinCache, PDO, Files

[code]

As another topic about auto clean up files cache.
The core right now added auto clean up files cache every 1 hour for "files" cache only.
You can do custom config by:

[code]

Let me know if any bugs & issues OR This topic will be close at

[2013-05-11 23:18] marwan2 opened #11 "The cache file reach 7 GB in 3 days, what should I do to clear or reduce the cache file size?"
Due to heavy visitors traffic & my periodic dynamic content, the cache file is growing up to fast, what logic should I use to dynamically delete old cache.

My Regards
Marwan

[2013-05-12 01:25] #11 closed, assigned to nobody

[2013-05-12 06:27] saiful opened #12 "Time Cache...."
Hello Khoaofgod...

I want to ask about time of cache..

What do you mean 600 seconds = 5 minutes?

We know that 300 seconds = 5 minutes?

600 seconds = 10 minutes

I think it can make confuse in documentation and uses.

Maybe you have reasons, could you tell me?

Thanks...

[2013-05-12 06:43] saiful opened #13 "Error after Updated - Don't have this Cache xcache In your System! Please double check!"
Hallo Khoafgod...

I have get error when update phpfashcache, the error is "Don't have this Cache xcache In your System! Please double check!"

I think I have xcache installation in my Mamp OS X SL

How to fixed it?

Thanks

[2013-05-12 06:45] #12 closed, assigned to nobody

[2013-05-12 07:07] #13 closed, assigned to khoaofgod

[2013-05-12 07:40] khoaofgod opened #17 "skype me: khoaofgod"
I will clean up the issues soon, because I am opening a forum to do support & continue develop other plugins for wordpress , carts , forum use phpFastCache.

This box gonna do issues only.

Skype me: If you have any problem or need fast support.
Skype: khoaofgod

[2013-05-12 07:51] #10 closed, assigned to khoaofgod

[2013-05-12 12:41] marwan2 opened #19 "How to cache CSS, Javascript files?"
It's not a bug or error, but I would like also to cache CSS & JS files to speed loading those files.
Is it supported ?

[2013-05-12 15:32] marwan2 opened #21 "If I set empty string then get it by phpFastCache::get(), it returns a string (N;)"
If I tried to get data from Cache file

$somedata = phpFastCache::get("myCacheVar");
if($somedata == null)
{
      $somedata = "";
      phpFastCache::set("myCacheVar",$somedata,60);
}
echo $somedata;

Because $somedata is an empty string it echo what between brackets (N;) or (s:0:"";)
It should echo an empty string

[2013-05-12 22:56] #19 closed, assigned to nobody

[2013-05-13 13:44] apanly opened #22 "thanks for sharing"
i want to write a  simple file cache,find some ideals from your code,thanks

[2013-05-13 14:43] #22 closed, assigned to khoaofgod

[2013-05-13 19:03] #17 closed, assigned to khoaofgod

[2013-05-13 19:09] khoaofgod opened #23 "Schedules for Next Version 2.0"
Hi guys

I am gonna make next version 2.0
- The current one is 1.3 will be keep going improve and fix bugs. I will not remove current version on future, and I will keep develop it as one file / one static class for who is using it.
- The version 2.0 will on schedule working, and will be publish together with current version.

Reason to plan to 2.0 are:
- One Class can't handle everything. It makes

[2013-05-21 08:25] #21 closed, assigned to khoaofgod

[2013-06-02 09:33] ksdev-pl opened #24 "phpFastCache::$sys['method'] = "pdo";"
I have a "Call to a member function prepare() on a non-object in /php_fast_cache.php on line 1536" Fatal error when trying to: $recentArticles = phpFastCache::get("recentArticles");

This problem disappears when I add a 'phpFastCache::$sys['method'] = "pdo";' line to the code. Why is it so?

[2013-06-21 11:10] Walgermo opened #26 "Fatal error: Call to a member function prepare()"
HI,

I just downloaded the script and tested it, but i am getting this error when testing.php

---

Caching = auto
SET 1 -->
Fatal error: Call to a member function prepare() on a non-object in /public_html/phpfastcache/php_fast_cache.php on line 1665

I also get this error when trying the script with "auto" selected, works only when set o PDO.

Fatal error: Call to a member function prepare() on a

[2013-06-22 16:34] #24 closed, assigned to khoaofgod

[2013-06-22 17:21] #26 closed, assigned to nobody

[2013-06-26 06:57] saiful opened #27 "PDO CHMOD 0777"
Hallo
I have a issued about pdo cache.

I created a modul for cron job, in cron job need to create a folder
cache/f011sdfasddsd8efed7as420323c793/ exampled. In these folder will be consist two files they are :
pdo.caching and config.41065cf4fd8asdf 7d52bedfda24a32adf75b1fe0.cache.ini

And I am considering for chmod it 0777 or Writable permission, I am afraid if some body can download these file vi

[2013-07-02 16:15] marwan2 opened #28 "Error: Please re-upload the caching file pdo.caching and chmod it 0777 or Writable permission!"
Hi Khoaofgod
Sometimes the website is down and receive this error message "Please re-upload the caching file pdo.caching and chmod it 0777 or Writable permission!", how to solve it

Thanks
Marwan

[2013-07-06 08:36] mariusz-buk opened #29 "MemCacheD object is never created when server is defined manually."
Method: memcached_addserver
Line: 1345 - self::$objects['memcached'] = new Memcache;

[2013-07-06 08:44] mariusz-buk opened #30 "Private methods prevents inheritance"
If I want to add some additional options for memcached, like compression it is hard to do because memcached_addserver method is private not protected.

Is it possible to add phpDoc compatibile syntax to each function (public are more important than the others).

[2013-07-07 23:22] #30 closed, assigned to khoaofgod

[2013-07-09 20:01] #29 closed, assigned to khoaofgod

[2013-07-09 20:02] #28 closed, assigned to khoaofgod

[2013-08-02 05:26] cf7to1 opened #31 "xcache_cleanup"
For me xcache_cleanup gets this error:

Warning: xcache_clear_cache() expects exactly 2 parameters, 1 given in /PATH/TO/FILE/php_fast_cache.php

so i've modified the function like this:

private static function xcache_cleanup($option = array()) {
        $cnt = xcache_count(XC_TYPE_VAR);
        for ($i=0; $i < $cnt; $i++) {
            xcache_clear_cache(XC_TYPE_VAR, $i);
        }
        return

[2013-08-02 07:45] #31 closed, assigned to nobody

[2013-08-02 07:51] cf7to1 opened #32 "mail"
i see your are using a function to send bug errors via email. this section must be more configurable via public properties such as destination email, using SMTP (some hosting has blocked local smtp to prevent spam attack) i think you could integrate directly to php mailer line $mail = new PHPMailer();... and so on..  user must have phpMailer class in their server. and you should let user to set th

[2013-08-02 08:02] #32 closed, assigned to nobody

[2013-08-03 21:37] ghost opened #33 "Persistent cache"
The file cache is deleted on server restart. I would like it to remain and honour the expiry I have set which in my case is 28 days.

[2013-08-05 04:19] #23 closed, assigned to khoaofgod

[2013-08-07 09:49] #33 closed, assigned to nobody

[2013-08-12 16:52] drakenm opened #34 "Warning: readdir() expects parameter 1 to be resource, string given in phpfastcache.php line 148"
Warning: readdir() expects parameter 1 to be resource, string given in phpfastcache.php line 148

I'm not quite sure what this means but here is my script:
$cache = phpFastCache();
$full_product_list = $cache->get("products");
if ($full_product_list == null)
        {
            $full_product_list = $dbh->fetch_rows($query_products);
            $cache->set("products",$full_product_list, 5); // 6

[2013-08-14 08:57] #34 closed, assigned to khoaofgod

[2013-08-20 15:15] Jakobud opened #35 "Manual cache file deletion?"
I just started messing around with this.  Works great so far.  I was wondering if it's possible to manually delete cache files when you are using filesystem storage as the caching type?  I don't see where the cache files are stored on the file system.

There are some cases where I need to manually delete the cache and let my webpage rebuild the cache because a DB query was modified and I can't wai

[2013-08-25 20:46] #35 closed, assigned to khoaofgod

[2013-09-04 21:54] Golpha opened #36 "Composer"
Feature-Request: A Packagist-Entry for PhpFastCache.

https://packagist.org/

[2013-09-05 14:52] xpose2000 opened #37 "Support for Redis?"
Sorry if this is answered elsewhere, but I do not see any specific support planned for Redis.  Do you plan to have support for it in the future?

[2013-12-07 11:15] nigrosimone opened #40 "[phpfastcache_v2.1_release] sqlite.php: unlink() permission denied"
Apache 2.4 PHP 5.4 (Windows Server 2008 x86)

[code]

I usually see that kind of error when there is a process not releasing the handle of those files.

Step to reproduce

[code]

[2013-12-07 14:23] vijinho opened #41 "Reference to $_SERVER on the command line"
Hi,

Using the master phpfastcache_v2.1_release/phpfastcache/phpfastcache.php

I get a warning about $_SERVER['HTTP_HOST'] not existing when I use phpfastcache in a command-line php script which I have to fix with:

if (empty($_SERVER['HTTP_HOST'])) { // patch for phpfastcache referencing this
    $_SERVER['HTTP_HOST'] = 'localhost';
}

Please could you remove such references or enable them to be

[2013-12-30 07:59] #41 closed, assigned to khoaofgod

[2014-01-04 05:16] saiful opened #45 "XCache var cache was not initialized properly"
Hallo Khoaofgod...

I using cronjob to run php script, but in log error i got this

[04-Jan-2014 12:09:01 Asia/Jakarta] PHP Warning:  xcache_get() [<a href='function.xcache-get'>function.xcache-get</a>]: XCache var cache was not initialized properly. Check php log for actual reason in /home/xxx/public_html/new/libraries/php_fast_cache.php on line 1114

[04-Jan-2014 12:09:01 Asia/Jakarta] PHP Warni

[2014-01-23 12:52] chandnikhan opened #47 "regarding usage"
hello,
i have downloaded phpfastcache from github..i am not getting the proper way to use it.
i have included
 include("php_fast_cache.php");
phpFastCache::$storage = "auto";

i am not understanding few terms being used further like  "product_page" and "identity_keyword"

[2014-02-28 11:40] reno1979 opened #49 "sqlite (auto mode) stats() returns error"
When requesting stats() from the cache object, it returns a error that the table caching does not exist.

(line 303 in sqlite.php)

If I comment those line 303 - 307 the stats() keeps returning 0 for each value in the array.

[2014-03-01 20:42] mohammad6006 opened #50 "how can i cache pdo query"
how can i solve this code problem?

<?php
require_once("cache/phpfastcache.php");
$cache = phpFastCache();
$products = $cache->get("product_page");
if($products == null) {
    $products = $conn->prepare("SELECT text,time FROM small WHERE active='0' ORDER BY time DESC LIMIT 10");
    $products->execute();
    $cache->set("product_page",$products , 600);
}
while($obj = $products->fetch(PDO::FETCH_OB

[2014-04-02 02:39] kmvan opened #51 "An error in 5.master.php - line 46"
$cache2->setMulti(array("key1","value1", 300),
    array("key2","value2", 600),
    array("key3","value3", 1800),
                      );

Maybe the last comma is redundant?

[2014-04-02 10:39] marwan2 opened #52 "Uncaught exception 'PDOException' with message 'SQLSTATE[HY000]"
Dear Khoaofgod, suddenly in one of my projects, a fatal error displayed, and it cause some sections to be die.
This is the error message:

Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[HY000]: General error: 5 database is locked' in /home/estqlal/public_html/includes/phpfastcache/drivers/sqlite.php:272 Stack trace: #0 /home/estqlal/public_html/includes/phpfastcache/drivers/

[2014-04-14 04:17] #52 closed, assigned to nobody

[2014-04-14 04:17] #51 closed, assigned to nobody

[2014-06-29 14:26] kmvan opened #53 "Can I set never expire for the cache?"
If I want to set the cache never expire, how do I do? Set the time to 0?
Thank you khoaofgod.

[2014-09-16 14:46] Kepro opened #55 "REDIS"
Do you plan to implement REDIS ? :) is faster than memcache and APC :)

[2014-09-17 14:27] oitsuki opened #56 "ip.codehelper.io.php doesn't work"
the website codehelper.io is not accessible since several days. Inside the files there is a relation with this website, the add on does'nt wok now.

[2014-09-18 04:57] #56 closed, assigned to nobody

[2014-09-19 21:20] Kepro opened #57 "order for "auto""
Hi, i testing performace for cache aaand
first ist APC (best performace) +- 70ms
sqlite +- 320ms
files +- 70ms

then order is wrong... second sqlite si very slow

[2014-09-24 13:59] oitsuki opened #58 "codehelper.io is down, detect_visitor_location doesn't work"
Hello Khoa,

Phpfastcache with detect_visitor_location does'nt work. codehelper.io is down, Have a delay to fix it or what I can do to resolve this problem ?
Thank you.

Regards

[2014-10-13 18:50] tylercollier opened #59 "Clear section of cache"
I'd like to clear a section of my cache. Say for example that I store data by prefixing it with a namespace. Perhaps I cache some twitter data, facebook data, etc. I might store them as `twitter.myvalue1`, `twitter.myvalue2`, and `facebook.myvalue1`, `facebook.myvalue2`. How could I delete the cache entries for twitter? And I don't know all the names of the values. It's not necessary myvalue1/2/3/

[2014-10-14 18:17] #59 closed, assigned to nobody

[2014-12-17 17:52] #57 closed, assigned to khoaofgod

[2014-12-17 17:54] #55 closed, assigned to khoaofgod

[2014-12-17 17:54] #45 closed, assigned to khoaofgod

[2015-01-11 06:29] richcom opened #61 "Disable phpfastcache temporarily"
Hello,

I use your phpfastcache and have a question:

how do I disable phpfastcache temporarily.

many greetings

Richy

[2015-01-11 07:22] khoaofgod commented on #61
hahaha.
Next version, I will add this option, nice one, bro!

[2015-01-11 08:54] #58 closed

[2015-01-11 08:54] #50 closed

[2015-01-11 08:54] #47 closed

[2015-01-13 20:48] n-i-m-a opened #62 "Problems on increment, decrement & touch"
I was adding a Redis driver when I spotted this:

**$object** being returned from

[code]
is not the entire array and only the 'value' so:

[code]
will not work and will also mess up the cached values.

I'm fixing it by passing an option to the get method so it returns the entire array.

Will send a Pull request for both this issue and the Redis driver once resolved and tested.

[2015-01-13 20:58] khoaofgod commented on #62
I will take a look it when I get home after work. Thanks. Also, if you fix it and tested , you can send me a request.

[2015-01-13 22:18] khoaofgod commented on #62
@n-i-m-a do you have driver for Reddis? because right now on current version we dont have reddis.php , if you have it, put it on this branch.

Thanks.

[2015-01-13 22:21] n-i-m-a commented on #62
I'm doing some final clean-up and tests with it. will send a pull request when done but would be best if someone else would also test it out before merging.

[2015-01-13 22:24] khoaofgod commented on #62
@n-i-m-a : after you send a pull request and update the driver Reddis.php  I will do a test on it right away, since version 2.2 will be release next week, I will merge your Reddis.php driver and put ur name as contribute on next version.

Thanks, bro

[2015-01-13 22:24] khoaofgod commented on #61
@richcom  will have this option on next version 2.2 next week.

[2015-01-13 22:25] khoaofgod commented on #53
Will add this option to version 2.2 next week.

[2015-01-14 01:02] n-i-m-a commented on #62
I'll keep you updated on that + have sent an email to discuss some matters on handling the dependencies for redis.

Will close this issue as it has been solved already.

[2015-01-14 01:02] #62 closed

[2015-01-16 06:09] Arvey18 commented on #58
Hi!

Is codehelper.io still working. what is the new url for the API? please share

[2015-01-17 07:45] kmvan commented on #53
Thank you your project.
Downloading...

[2015-01-17 07:45] #53 closed

[2015-01-17 10:42] kmvan opened #64 "Add redis cache support into phpfastcache, how about?"
I think it will be a more great project:)

[2015-01-17 20:38] khoaofgod commented on #64
can you help me on basic function for reddis?
I don't have time right now, have to wait for after Feb 10.

[2015-01-23 07:36] alexboss opened #65 "End of support of APC for PHP 5.5.x and support of OPcache"
Dear phpfastcache developers,

With the announcement of the end of support of APC within PHP 5.5.x and its replacement by OPcache, is there any plan to update the library to support OPcache ?

Thanks a lot and best regards,

Alexandre 8)

[2015-01-23 14:47] nicocasel commented on #65
Thanks for posting this issue, we have exactly the same demand.

[2015-01-23 17:29] khoaofgod commented on #65
by the end of Jan, PhpFastCache will release version 3.0 that include reddis and OPCache, the old driver APC still avaiable.

Release date will be Jan 31 or Feb 1.

[2015-01-24 09:35] alexboss commented on #65
That's excellent news, thank you ! You can be sure that we'll be among the first users! Alexandre 8)

[2015-01-27 00:37] khoaofgod commented on #65
i'm working on it.

[2015-01-28 07:30] sv1gzf commented on #6
Any news on the composer?

[2015-01-30 11:58] khoaofgod commented on #61
Done on release_2.4 release next week.

[2015-01-30 11:58] #61 closed

[2015-01-30 11:58] khoaofgod commented on #40
Done on release_2.4 release next week.

[2015-01-30 11:58] #40 closed

[2015-01-30 11:59] khoaofgod commented on #37
Done on release_2.4 release next week.

[2015-01-30 11:59] #37 closed

[2015-01-30 12:00] khoaofgod commented on #36
Done on release_2.4 release next week.

[2015-01-30 12:00] #36 closed

[2015-01-30 12:02] khoaofgod commented on #65
OPCache is not an object caching, it's cache the SCRIPT. Automatic already.
All you need is set OPCache enabled on php.ini

This is different with APC Cache.

[2015-01-30 12:02] #65 closed

[2015-01-30 12:03] khoaofgod commented on #64
Done on release_2.4 release next week.

[2015-01-30 12:03] #64 closed

[2015-01-30 17:10] tylercollier opened #67 "Fallback?"
Does the fallback concept work? It doesn't for me. I just get an exception that says "Can't use this driver for your website!" when I try to use memcached with a fallback of files.

Here's my code.

[code]

But looking through the phpfastcache code, I don't see any exception catching. Searching for the word fallback seems to result in almost nothing. It doesn't look like it could work.

[2015-01-30 17:17] khoaofgod commented on #67
It work like this:
"memcached"  => "files",
"apc"       => "files"

Then, if you use phpfastcache as memcached, or apc , AND YOUR SERVER HAVE PROBLEM WITH THESE 2 , THEN it will use "files" instead of these 2.

This option is use for someone who switching / moving their website to new server, and they can not install memcached or apc right now, so they use fallback while installing memcached / apc

[2015-01-30 17:18] #49 closed

[2015-01-30 17:20] tylercollier commented on #67
I understand the idea. Where does the actual fallback happen? Where in the code?

[2015-01-30 17:27] khoaofgod opened #68 "Release 2.4.1"
Release 2.4 will be release on next Monday Feb 02.

What's new
- Redis supported
"pecl install redis"

- Cookie Driver
Fun for who want to store cache on visitor's browser.

- Non-Expring Cache for Object
Example: set("keyword", $data); will be non-expire until you do delete("keyword");

- Temporary Disabled phpFastCache
use: phpFastCache::$disabled = true;
After this line, all get("keyword") will

[2015-01-30 17:33] khoaofgod commented on #67
right now it simple on phpFastCache -> function __construct

[2015-01-30 17:51] tylercollier commented on #67
[code]

It doesn't read from `$option` at all. That code looks like it ALWAYS uses the fallback, if there is a global fallback set.

[2015-01-30 18:02] khoaofgod commented on #67
Look like only that section have that code, it's no use right now, it just a "ALIAS" , I think.

ok, I decide will improve it with a function called cache_check to make it work like my logic:
if memcached server failed then files cache will be use automatic until memcache server is BACK.

It's will be done on this monday's release.

[2015-02-01 11:25] #67 closed

[2015-02-02 22:18] tylercollier commented on #68
If Redis isn't installed, and you try to use it, it you will get:

[code]

which is an un-catchable error.

This happens because you have this code in `redis.php __construct()`

[code]

If the Redis class doesn't exist, you never assign to `$this->instant`, and thus later, `$this->instant->connect($p1,$p2,$p3)` thows the error.

[2015-02-02 22:19] tylercollier commented on #68
PS: It's probably worth mentioning in the README that using Redis requires use of [phpredis](https://github.com/phpredis/phpredis), as opposed to another library such as [predis](https://github.com/nrk/predis).

[2015-02-02 22:28] ARTPROITCo opened #69 "Tags"
Hello,
Introduction of tags will be?

[2015-02-02 22:59] khoaofgod commented on #68
@tylercollier
+ I will add phpredis on README
+ I will add 1 more driver called "predis" on Monday, Jan 09 for who use predis.

[2015-02-02 23:00] khoaofgod commented on #69
@ARTPROITCo
What do you mean about "tags" ? Can you give me some details & examples. I will work on that right away.

[2015-02-02 23:56] ARTPROITCo commented on #69
How it works can be found in [Zend](http://framework.zend.com/manual/current/en/modules/zend.cache.storage.adapter.html)

Example of logic:
[code]

[2015-02-03 04:49] khoaofgod commented on #69
oh. OK.
U meant tags / group / sets of "keywords" ..
Got it, I will add it to next release 2.5 on March 02

[2015-02-03 10:14] sv1gzf opened #70 "Composer issue"
I'm trying to download the project with the use of the composer but I always get an error.

I'm using the command:
php composer.phar require "phpfastcache/phpfastcache":*

and I get:
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package phpfastcache/phpfastcache could not be found in any version, there may be a typo in the package name.

[2015-02-03 23:18] ndzou commented on #70
Same problem here, putting

"phpfastcache/phpfastcache": "dev-Release_2.*"

in the composer.json does not work either.

I do see the package listed on packgest.org, but it's source directory appears incorrect.  Perhaps it needs to point to the actual source path on Github?  Like:

https://github.com/khoaofgod/phpfastcache/tree/Release_2.4.1/phpfastcache_2.4/phpfastcache

[2015-02-04 01:37] khoaofgod commented on #70
K, i'm working on this. Next release Mon Feb 09 will be fixed

[2015-02-04 01:38] khoaofgod commented on #69
Working on this.

[2015-02-05 13:55] Digitalschmiede opened #71 "storage files not work"
I changed my storage to "files" but fastcache only use sqllite. Sqllite is bad for filestorages with many apache nodes.

[2015-02-05 19:45] khoaofgod commented on #71
did you use phpFastCache:::$storage = "files"  ?

[2015-02-06 10:39] reno1979 opened #72 "xcache driver"
version 2.4.1

Because the fastcache mechanism always selects sqlite (when available) I use the following:
(even with version 2.4.1 sqlite sometimes complains about none existing tables)

[code]

If I run $_cache->systemInfo(); The result is:

[code]

So it looks like the xcache driver is used.

But then I would like to request the stats(), and the entire function hangs, though the driver file use

[2015-02-06 10:46] reno1979 opened #73 "Stats are not returned in uniform format"
When requesting the stats (v2.4.1) the returned array looks like :

'memcached' :
[code]

or

'Files'
[code]

I would like to make a request for an uniform stats format, meaning that the drivers will always fill the info array with the basic details (Total, Removed and Current).

[2015-02-06 12:43] reno1979 opened #74 "cache empty after calling systemInfo()"
V2.4.1
situation: storage: files

After calling systemInfo() (trying to determine the chosen storage system)
the stats() return empty. That's is the info part of the returned array exists but all values are zero.

Is the SystemInfo changing a directory or does it call a init/constructor?

[2015-02-06 16:45] khoaofgod commented on #73
I work on that on next monday release.

[2015-02-06 16:45] khoaofgod commented on #74
I take a look tonigth when I get home.

[2015-02-06 16:46] khoaofgod commented on #72
Ok, I take a look tonight when I get home.

[2015-02-09 01:43] khoaofgod commented on #73
It will be on March 02

[2015-02-09 01:44] khoaofgod opened #75 "predis driver"
Available On Feb 09

[2015-02-09 03:00] #74 closed

[2015-02-09 03:21] #71 closed

[2015-02-09 04:02] khoaofgod commented on #70
https://packagist.org/packages/phpfastcache/phpfastcache

[2015-02-09 04:02] #70 closed

[2015-02-09 04:14] khoaofgod commented on #72
I don't have enough documents on xcache_list so, I hang on this one, until someone fix it.

[2015-02-09 08:35] reno1979 commented on #72
Ok I understand, the xcache documents are very poor indeed.

Thank you anyway.

[2015-02-09 08:35] reno1979 commented on #74
Thank you, that's fast.

[2015-02-09 08:36] reno1979 commented on #73
Thank you, can't wait.

[2015-02-09 09:02] sv1gzf commented on #70
The composer is not working properly
Warning: require(....../vendor/phpfastcache/phpfastcache/phpfastcache/phpfastcache/phpfastcache.php): failed to open stream: No such file or directory in ..../vendor/composer/autoload_real.php on line 54

[2015-02-09 09:04] sv1gzf opened #76 "Composer issue"
The composer is not working properly

Warning: require(xxxxxx/vendor/phpfastcache/phpfastcache/phpfastcache/phpfastcache/phpfastcache.php): failed to open stream: No such file or directory in xxxxxx/vendor/composer/autoload_real.php on line 54

It looks like the path is not correct.

[2015-02-09 10:08] lichunqiang commented on #76
https://github.com/khoaofgod/phpfastcache/blob/final/composer.json#L20

It seems wrong path there!

[2015-02-09 10:09] antoniocambados commented on #76
Just satumbled upon this, I had to manually solve it this _messy_ way:

[code]

[2015-02-09 10:31] lichunqiang commented on #76
oh... This is the author's business, but it's a temporary solution :+1:

[2015-02-09 12:02] niajahi opened #77 "Filename too long when using 'File' cache option"
Hi, this is one of my error log entries:
Ver: 2.4.1. PHP: 5.5.18

[09-Feb-2015 02:13:28 UTC] PHP Warning:  fopen(cache/cache.storage.DOMAIN.com//YW/YW16X2xpc3RfVU1JK1gzKzU1K0NhcGFjaXRpdmUrTFRQUytHRytUb3VjaCtTY3JlZW4rMTkyMHgxMDgwK0FuZHJvaWQrNDIrT2N0YStjb3JlK01USzY1OTIrMTdHSHorMkdCK1JBTSsxNkdCK1JPTSszRytQaGFibGV0K1NtYXJ0cGhvbmUrd2l0aCtCbHVldG9vdGgrV2lGaStHUFMrODBNUCsxMzBNUCtDYW1lcmFzK0JsYWNrK1doaXRl

[2015-02-09 14:01] nikmauro commented on #76
composer require "phpfastcache/phpfastcache": "dev-final"
and return this error Warning:
[code]

[2015-02-09 17:13] khoaofgod commented on #76
Fixed.

[2015-02-09 17:33] ndzou commented on #65
The user cache portion of APC now continues in APCu, Fedora/EPEL package php-pecl-apcu, if you install this you can keep using the apc driver.

[2015-02-09 20:21] khoaofgod commented on #70
Fixed already, try again.

[2015-02-09 20:23] khoaofgod commented on #72
I will open this issues again, for some one use xcache see this problem on issues again and if they can provide me some documents on xcache_list or get stats of xcache, then I will work on it.

[2015-02-09 20:25] khoaofgod commented on #73
This may only work for memcache, redis, apc, sqlite, cookie and files. Because I have no documents on x-cache. So, I gave up xcache :D muaaaah

[2015-02-09 20:26] khoaofgod commented on #77
I do it tonight

[2015-02-10 06:15] #77 closed

[2015-02-10 06:43] #68 closed

[2015-02-10 06:44] #75 closed

[2015-02-10 06:45] khoaofgod opened #78 "New Release 2.4.2 on Feb 09 & Next Release 3.1.0 on April 12"
- Feb 09 / What's new?
+ predis supported.
+ improved files driver.
+ improved sqlite
+ improved redis: supported database select
+ improved base config.
+ improved composer

Next release will be on April 12
+ tags keywords
+ search keywords
+ global statstic

[2015-02-10 22:22] khoaofgod commented on #76
@nikmauro @lichunqiang @antoniocambados @sv1gzf
Can you guys do me a favor, try composer again, and let me know if it work or not.
I am not similar with composer, I just updated the json file, hope it good now.

Plz test and let me know, also, if u have any suggestion on json file, plz comment here, I am not good at composer.

[2015-02-11 20:28] reno1979 commented on #78
Yeah!
Search and tags!

[2015-02-11 20:51] khoaofgod commented on #78
working & scheduled, search & tags.
LMAO, now I feel it like a Universial NoSQL Database now with non-expired caching time + tags + search.

[2015-02-12 09:49] reno1979 commented on #78
How will search work?
I mean will php fastcache maintain an array which keys represent the stored data?
So you can search very fast because it does an isset..?

That brings me to an other question, I try to retrieve data from cache but when empty I generate the data and store it. Is it faster to first  try $cache->isExisting("keyword");??

[2015-02-12 13:36] nikmauro commented on #27
Here the config

[code]
The server running FastCGI with PHP 5.4.37

And the script return

Fatal error: Uncaught exception 'Exception' with message 'PLEASE CHMOD /var/www/vhosts/###/httpdocs/tmp/cache//cache.storage.###/ - 0777 OR ANY WRITABLE PERMISSION!' in /var/www/vhosts/###/httpdocs/vendor/phpfastcache/phpfastcache/phpfastcache/2.4.2/drivers/files.php:58 Stack trace: #0 /var/www/vhosts/###/ht

[2015-02-12 14:19] nikmauro commented on #76
perfect!

[2015-02-12 15:39] khoaofgod commented on #27
i will test fastcgi tonight with ur config and do a hotfix

-----Original Message-----
From: "nikmauro" <notifications@github.com>
Sent: ‎2/‎12/‎2015 5:36 AM
To: "khoaofgod/phpfastcache" <phpfastcache@noreply.github.com>
Cc: "Khoa Bui" <khoaofgod@gmail.com>
Subject: Re: [phpfastcache] PDO CHMOD 0777 (#27)

Here the config
$cms39_cache_config = array(
        "storage"   =>  "apc",
        "path"

[2015-02-12 16:26] #76 closed

[2015-02-13 08:22] nikmauro commented on #27
The APC driver work with Fast CGI here the my phpinfo

If change the config with this the cache working with APC.

[code]

phpinfo
[code]

[2015-02-13 17:07] khoaofgod commented on #27
ok, I work on that. I will rewrite the way abstract class work right now on next release Feb 23.
New class will be coded for faster and config much easier.

[2015-02-13 18:46] khoaofgod opened #79 "Upcoming Release 2.4.3 on Feb 23"
All methods & classes function will be keep as the same.
Only the base class will be rewrite as abstract class.
+ The way new caching + methods will be optimized for faster speed.

[2015-02-19 19:58] epsi1on opened #81 "exception with message Can't create .htaccess"
Hello,
I'm getting this exception:
 'Can't create .htaccess' in /home/***/public_html/***/phpfastcache/phpfastcache/2.4.2/base.php:756 Stack trace: #0
 /home/***/public_html/***/phpfastcache/phpfastcache/2.4.2/base.php(831): phpFastCache->htaccessGen('/home/***/...') #1 /home/***/public_html/***/phpfastcache/phpfastcache/2.4.2/drivers/files.php(25): phpFastCache->getPath() #2 /home/***/public_html

[2015-02-19 20:15] khoaofgod commented on #81
I test it tonight, can you tell me are u using files  / auto or memcached ?
If u are using memcached, please sure that ur memcached server is right.

And are u use FCGi / suPHP / CGI or PHP as Module ?

[2015-02-19 20:21] epsi1on commented on #81
Hi.
this is my code where it throws the exception:

$cache = phpFastCache("memcached"); // <<<<<< this throws the exception
$results = $cache->get('my_key');

How can i find out memcached works fine?

also about last question, actually i do not know what do you mean. I'm not a php guy, i guess i'm just using php!

thank you so much

[2015-02-19 20:25] ZiZuu-store commented on #81
Replace memcached with "memcache"
w/o d

Il giovedì 19 febbraio 2015, epsi1on <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2015-02-19 20:29] epsi1on commented on #81
with changing memcached with memcache it works but gives a notice:
is everything ok?

<b>Notice</b>:  Memcache::get() [<a href='memcache.get'>memcache.get</a>]: Server 127.0.0.1 (tcp 11211) failed with: Connection refused (111) in <b>/home/<site>/public_html/phpfastcache/phpfastcache/2.4.2/drivers/memcache.php</b> on line <b>82</b><br />

[2015-02-19 20:32] ZiZuu-store commented on #81
No it's saying that the memcached process is refusing connection on its
standard port (11211)

Check that memcached is running and accepting connection on localhost

Il giovedì 19 febbraio 2015, epsi1on <notifications@github.com> ha scritto:

--
Cordialmente,
Massimo -- *the ZiZuu staff*

[2015-02-20 00:28] khoaofgod commented on #81
try this one on ur server:
ps -A | grep memcache

Maybe ur memcache services is not running, and that why the Files as backup driver run.

[2015-02-23 19:36] MaxLuan opened #82 "chmod_permission in base.php. would cause wrong permission on created folder."
Dear khoaofgod,

I find that sometimes, instead of a 0644 permission, the cache folder is created with a 1204 permission.

The exception “Sorry, Please create ".$this->option("path")."/".$this->option("securityKey")."/ and SET Mode 0777 or any Writable Permission!” is thrown.

According to this link, http://php.net/manual/en/function.chmod.php#96086, I changed
var $chmod_permission = array(
		"def

[2015-02-23 20:15] khoaofgod commented on #82
@MaxLuan I take care this tonight before mid night. Hahhaa. A little bit overload this weekend, since I spent all my time for  Lunar New Year and my gf... >_<

I see what you mean on this, I will change it to numeric tonight and push it together with the new version.

[2015-02-23 20:48] MaxLuan commented on #82
@khoaofgod Thanks for the quick response and happy new year. Nice work by the way, the system rocks.

[2015-02-23 20:54] khoaofgod commented on #79
I may late on this one couple day since Lunar New Year and my gf is killing me.

[2015-02-24 08:05] reno1979 commented on #79
Priorities...

:p

[2015-02-24 12:09] marzsman opened #83 "Is composer always updating to 'final' branch?"
I moved my application to the composer version of phpfastcache but it looks like the library is updated to the master branch 'final'.

Is it possible to create release branches so we can update to composer.json when changes to the library are tested in our application?

[2015-02-24 17:21] ta2edchimp commented on #83
Simply tagging the current branch at its respective stage with something that looks like a version should do it, imo.

According to [this section in the Composer docs](https://getcomposer.org/doc/02-libraries.md#tags), it should be enough to tag the current branch with `2.4.3` on Feb. 23rd (... or whenever it will be finished :P).

[2015-02-24 18:22] khoaofgod commented on #83
cool. thanks for the document bro. i will take a look at it and try to comit this one together with new version tonight.

[2015-02-24 21:50] khoaofgod commented on #83
https://packagist.org/packages/phpfastcache/phpfastcache

I added tags 2.4.2
next will be 2.4.3

[2015-02-24 21:50] #83 closed

[2015-02-24 21:54] marzsman commented on #83
Great, thx for the quick fix!

[2015-02-24 22:05] ta2edchimp commented on #83
Yes, thanks A LOT!

[2015-02-25 07:16] clashboy commented on #82
I can confirm the this bug.

[2015-02-26 18:11] gcleaves commented on #82
same problem

[2015-02-26 18:31] khoaofgod commented on #82
I fixed it yesterday already @gcleaves  @clashboy  can you guys download new version and try again.
Just delete the old folder cache.

[2015-02-26 19:07] fajarfariyanton commented on #35
how to save all cache to one folder , and not create one folder to one cache

[2015-02-26 19:35] khoaofgod commented on #35
set the storage to "sqlite" , it will save to sqlite 1 - 2 files only.

Because Linux / Windows directory only allow around 30,000 files I think.

So, if you don't split them to multiple folder, the cache folder will dead after couple weeks, and also it's very diffucuti to clean up a folder have more than 10,000 files, slow and cost memory when reading everything from that folder. In real world, 1

[2015-02-26 19:35] khoaofgod commented on #82
https://github.com/khoaofgod/phpfastcache/tree/2.4.3

[2015-03-01 20:06] #79 closed

[2015-03-01 20:06] #81 closed

[2015-03-01 20:06] #27 closed

[2015-03-01 20:07] #82 closed

[2015-03-01 20:44] khoaofgod commented on #78
I will be gone until April 12.
I have a filming project for Christian TV program, and I have to finish it for them on Easter, April.
So, until now, I will only fix small bugs, the next release will be moved to April 12.

[2015-03-03 15:51] Neui opened #84 "Make it Windows compatible (mkdir and unallowed character problem)"
Ah just forgot to write..
I noticed, this thing doesnt work on windows.
See: https://github.com/khoaofgod/phpfastcache/blob/final/phpfastcache/3.0.0/phpfastcache.php#L180
If printing out $full_path then i will get "[...]/phpfastcaches/localhost:25565/"
The : character is not allowed in Windows, so it does not work.
Maybe this character could be replaced by a + sign. I dont think any domain name in

[2015-03-03 17:53] khoaofgod commented on #84
got it

[2015-03-03 17:57] khoaofgod commented on #84
@Neui Fixed

[2015-03-03 18:36] khoaofgod commented on #69
This move to April 12 since I have an urgent project have to finish.

[2015-03-07 19:05] #84 closed

[2015-03-14 10:30] lyj289 opened #85 "Fatal error about example2.php"
hello , i am learning the phpfastcache,and i have some problems.

when i run the example2.php,there are some error ,like
 'Fatal error: Call to a member function connect() on a non-object in C:\xampp\htdocs\php\phpfastcache-final\phpfastcache\3.0.0\drivers\redis.php on line 78'

and my computer now has not the redis environment , but the driver fallback has been setted to 'files',why the cache  ge

[2015-03-14 15:19] khoaofgod commented on #85
hi, change the reddis to "files"
since your computer don't have redis installed.

[2015-03-15 02:04] Geolim4 opened #86 "Bad __set should not return an exception."
Hi :)
I notice that your magic function __set() throw a new exception if the syntax is "incorrect".

At that line:
https://github.com/khoaofgod/phpfastcache/blob/bce795d518326bc1e9755063c56cf241960d9b55/phpfastcache/3.0.0/abstract.php#L245

Some debug tools like Krumo use a "marker" to detect and avoid recursivity, and when your class is being debugged the Exception is triggered due to marker inse

[2015-03-15 05:28] khoaofgod commented on #86
@Geolim4
Hi geo, I will make a throw new exception to error function, will update it next week.

[2015-03-15 13:44] Geolim4 opened #87 "[Improvement] Custom exception class"
In order to improve development, it would be great to have the possibility to use a custom Exception class handler when a new exception is throw :)

[2015-03-15 13:54] Geolim4 opened #88 "Convention naming"
Hi :)
To be compliant with most conventions, the main filename phpfastcache.php should be named in the same way of your class.

Your class: phpFastCache
The main file: phpfastcache.php

It can be difficult for persons who use an autoloader.

[2015-03-15 15:34] khoaofgod commented on #88
I see. OK
I put this one on next version ticket.

[2015-03-15 15:35] khoaofgod commented on #87
This issues will be fixed here:
https://github.com/khoaofgod/phpfastcache/issues/86

[2015-03-15 15:35] #87 closed

[2015-03-15 15:37] khoaofgod commented on #86
hey @Geolim4  can you help me custom function for throw error, I don't have time right now, if you can help, just let me know. Thanks.

[2015-03-15 16:18] Geolim4 commented on #86
I'm writing something similar as i forked your project, i will probably test it in next week as it a quick but complex improvement :)

[2015-03-15 18:34] khoaofgod commented on #86
sure, just go ahead and improve it, I will review and merge the code. I am busy until April 12, since I have filming project todo for Easter.

[2015-03-15 19:02] #85 closed

[2015-03-15 23:56] Geolim4 commented on #86
Great, it let me the time to study all the possibilities.

[2015-03-29 15:53] ARTPROITCo opened #90 "mkdir and recursive directory creation"
Hello,

mkdir has a 3 rd option
therefore, we can create a structure of subdirectories
this is useful in the driver of file cache and in other places where you create a new directories
because "securityKey" in setup can be of the form "namespace1/namespace2/..."

and yet, I noticed, checking the existence of the directory is done through "file_exists"
may be properly used "is_dir"?
../phpfastcache

[2015-03-29 18:38] khoaofgod commented on #90
1. I see, I will add this as a note on next version on securityKey setup.
2. For the is_dir and file_exists , same perform, nothing is faster or slower on these 2 func.

[2015-03-29 22:12] ARTPROITCo commented on #90
yes of course. I was thinking about something else. but it does not matter

[2015-03-29 22:12] #90 closed

[2015-03-29 22:15] ARTPROITCo opened #91 "eval"
it can be replaced on "call_user_func_array":
return call_user_func_array(array($this->instance, $name), $args);

[2015-03-29 22:34] khoaofgod commented on #91
Sure.  I will merge it when i get home tonight.

[2015-03-31 00:44] rohandalvi opened #92 "Possible to get all key=> value pairs that are in cache?"
I regularly update my cache so that I have to make minimal API calls. Is it possible to retrieve all key=>value pairs that are stored in cache, in case if I don't know the key to make the call $cache->get("key"); ?

Thanks

[2015-03-31 04:00] khoaofgod commented on #92
You meant stats right? on next version you will have stats, and then it will return an array store all keys for you. April 12 - April 18 will have an update for that features. I'm working on it.

[2015-04-01 21:57] #91 closed

[2015-04-09 09:58] jensschulze opened #95 "Strange security key if HTTP_HOST starts with "w""
Hi :)

Please replace L159 in phpFastCache.php

    $securityKey = isset($_SERVER['HTTP_HOST']) ? ltrim(strtolower($_SERVER['HTTP_HOST']),"www.") : "default";

with

    $securityKey = isset($_SERVER['HTTP_HOST']) ? trim(preg_replace('/^www\./', '', strtolower($_SERVER['HTTP_HOST']))) : "default";

Because the ltrim() will replace every "w" and every "." at the beginning of the HTTP_HOST.

[2015-04-09 17:15] khoaofgod commented on #95
Why bro, I want it only get the domain without "www." , we don't need trim, since will not space with an HTTP_HOST, and the preg_replace is slower.

[2015-04-09 17:26] #95 closed

[2015-04-09 18:22] jensschulze commented on #95
I know what you want to do there, but have a look at http://php.net/manual/en/function.ltrim.php
The second argument is a character mask. That means ltrim($blah, "www.") strips all "w" and all "." from the left side of $blah. That is not what you want: "www.workexample.com" will be "orkexample.com" :)

I admit, you probably don’t need the trim, and the preg_replace is very ugly – maybe there is a

[2015-04-09 19:24] khoaofgod commented on #95
Woops, I just got into that function details and it's character mask for sure. So, "www.workexample.com" will be output "orkexample.com"
Maybe just use str_replace("www.","",$blabla), I will note this one, however let me take a look the whole reasone that I need $securityKey on the script and see if I have another solution.

[2015-04-10 21:30] koenpunt commented on #95
A hint:
[code]

[2015-04-14 11:54] richcom commented on #61
wonderful that you have the implemented as soon!!

[2015-04-18 22:47] Geolim4 commented on #86
I'm currently re-installing my project using composer, so i will not be able to give the PR so soon :/
But don't close it please, i stay tuned.

[2015-04-18 23:45] khoaofgod commented on #86
ok, sure

[2015-04-18 23:46] khoaofgod commented on #78
I movie project is still not finished yet, I will delay this one a little bit longer by end of this month.

[2015-05-04 06:19] maxicms commented on #69
This functionality will be added?

[2015-05-12 11:21] pefstra commented on #69
Great work! Any news about tags?

[2015-05-12 16:46] khoaofgod commented on #69
Next week, I'm working hard on this >_< a little bit busy with other projects. Will push this one next week.

[2015-05-26 08:34] UrvishSSPL opened #97 "memcached driver fails to store data"
There is an issue with memcached driver `connectServer()` method.
The driver works when changing below line from
`$s = $this->option['memcache'];`
TO
`$s = $this->config['memcache'];`

[2015-05-26 16:33] khoaofgod commented on #97
just merged https://github.com/khoaofgod/phpfastcache/pull/96

[2015-05-26 16:33] #97 closed

[2015-05-27 08:11] hastonewy opened #98 "file "memcached.php" need debug both,like "memcache.php""
$server = $this->option['memcache'];
-to-
$server = $this->config['memcache'];

[2015-06-03 08:03] pefstra commented on #69
I know you're busy and sorry for my insistence. Are you gonna launch soon this new version with tags or it would be better to look for something else similar? I am in the middle of a project and I am waiting for this...

[2015-06-11 18:50] reno1979 commented on #78
Any updates about your progress?

[2015-06-15 12:09] schealex opened #100 "cached data takes longer than actual query"
Hey guys,

i'm just testing this project as it looks awesome,

here is my test setup:

[code]

getAllCategories at this time is creating an array of TicketCategory's and doing ~8 sql querys.
so i'm wondering why i get results like:

done in 0.030627012252808 seconds
cached done in 2.0027160644531E-5 seconds

how come that the cached version takes longer than the actual query itself?

dedicated ser

[2015-06-15 12:17] schealex commented on #100
never mind. should have thought better about the placement of the time defining variables...

now it's:

done in 0.024513959884644 seconds
cached done in 0.001039981842041 seconds

:)

[2015-06-15 12:17] #100 closed

[2015-06-16 09:31] gcleaves opened #102 "Set does not seem to overwrite existing cache entry"
Is it necessary to explicitly delete an entry before setting it in order to update it?

[code]
$cache->get("key") returns 1 instead of 5, not what I expected.

[2015-06-16 11:03] djeraseit opened #103 "Unexpected end of file when using web page method."
Maybe I downloaded broken code from git 2 hours ago, or maybe it's just me.

I cant for the life of me cache an entire webpage? I get unexpected end of file on cache_start.php.

When I try not splitting the files, I get an error about failed to include phpfastcache/...drivers/...nameofmyphpfile.php.

Im following the cache full webpage example and using file_get_contents (with http) to get my rend

[2015-06-16 15:17] khoaofgod commented on #103
@djeraseit  can you copy your error code and paste here.

[2015-06-16 15:18] khoaofgod commented on #102
which driver Files, SQLte ? or Memcache @gcleaves

[2015-06-16 15:18] khoaofgod commented on #98
Fixed already. Plz try again and close the ticket

[2015-06-17 08:08] gcleaves commented on #102
Files.  Linux OS.  I will try to get you more detailed information....

[2015-06-21 06:33] harpreetsb opened #104 "Way to get configured instance"
I have slim framework setup.
I wanted to know if I could do.
[code]
In index file and do
[code]
in the controller to use this further.

Please let me know.

[2015-06-28 20:18] Geolim4 opened #105 "Xcache doesn't support object caching (atm)"
Currently xcache doesn't support object caching (at this moment:
https://groups.google.com/forum/#!topic/xcache/oxbx-UK8O-s
http://xcache.lighttpd.net/ticket/342

I will provide a patch asap.

[2015-06-28 20:48] #105 closed

[2015-06-28 20:49] Geolim4 commented on #105
Merged by owner/collaborator.

[2015-06-28 21:03] Geolim4 commented on #86
I finally not found how to throw a custom class, BUT, i found a way to pass out this bug:

Does it is possible that:
[code]
modified to this?
[code]
(using is_scalar instead of is_numeric) ?

[2015-07-19 09:35] Mosely opened #107 "Add Unix Socket Support for Redis and Predis"
Some users might be only able to connect to Redis via a Unix socket, so having this ability to use Unix sockets would be good.

[2015-07-22 21:03] rajneeshojha commented on #59
were you able to implement this group cache?

[2015-07-22 21:21] tylercollier commented on #59
@rajneeshojha: yes. I did it just like spud suggested. It was very simple. It's in my own code, not part of the phpfastcache library, so I did not do a pull request or anything.

[2015-07-22 21:35] rajneeshojha commented on #59
can you please share the code? Regards
Rajneesh Ojha

     On Thursday, July 23, 2015 2:51 AM, Tyler Collier <notifications@github.com> wrote:

 @rajneeshojha: yes. I did it just like spud suggested. It was very simple. It's in my own code, not part of the phpfastcache library, so I did not do a pull request or anything.—
Reply to this email directly or view it on GitHub.

[2015-07-22 22:12] tylercollier commented on #59
See code here: https://github.com/khoaofgod/phpfastcache/issues/59#issuecomment-58953860

[2015-07-27 17:53] nabab opened #109 "Configuring for apc"
Hi,

I don't understand why your class keeps using getAutoClass when I set the storage to apc.

  phpFastCache::setup("storage","apc");
  $cacher = phpFastCache('apc');

Whatever I do the config is set to "files".
  extension_loaded('apc') && ini_get('apc.enabled') both return true

Apache is run through FCGI and strpos(PHP_SAPI,"CGI") returns false.

PHP version is 5.5. Any idea?

[2015-07-27 21:11] khoaofgod commented on #109
I take a look tonight

[2015-07-30 08:43] nabab commented on #109
Hi there, thanks, but did you have a chance to have a look?
Cheers!

[2015-07-30 17:56] nabab commented on #109
Apologies for this: although all the right PHP variables showed up about APC, it wasn't working because the ini file for the module was called twice. Your app did good by selecting the default engine.

[2015-07-30 17:56] #109 closed

[2015-07-30 18:02] khoaofgod commented on #109
ok, glad to heard about it.

[2015-07-31 11:30] maxicms commented on #69
Most likely this will not be functional

[2015-08-09 05:33] bfintal opened #112 "Warning: Illegal string offset 'value'"
I encountered this:

    Warning: Illegal string offset 'value' in phpfastcache/3.0.0/abstract.php on line 61

[2015-08-09 05:44] khoaofgod commented on #112
can you guy us more details ?

[2015-08-10 09:03] bfintal commented on #112
I just encountered it one time, although haven't encountered it again, so I don't know the reason why the warning appeared. But it shouldn't be too hard to patch against this :)

[2015-08-10 19:08] khoaofgod commented on #112
can you tell me which Cache Driver you using? Files or Memcached or something ? for I patch to that driver.

[2015-08-11 02:03] bfintal commented on #112
The same error just showed up again. Although a page refresh made it go away. It's really weird and hard to pinpoint.

I'm using both Memcached and Files. I'm building a caching plugin so all drivers would be used.

[2015-08-11 02:08] bfintal commented on #112
How about this for the fix @ line 61 in `phpfastcache/3.0.0/abstract.php`:

    $value = isset( $object['value'] ) ? $object['value'] : null;
    return isset($option['all_keys']) && $option['all_keys'] ? $object : $value;

[2015-08-11 03:49] khoaofgod commented on #112
hi, can you make a push request for it, I will accept it.

[2015-08-11 05:35] bfintal opened #113 "Configuration in site is old and doesn't work anymore"
The site says:

	$config = array(
	        /*
	         * Default storage
	         * if you set this storage => "files", then $cache = phpFastCache(); <-- will be files cache
	         */
	        "storage"   =>  "auto", // files, sqlite, auto, apc, wincache, xcache, memcache, memcached,

	        /*
	         * Default Path for Cache on HDD
	         * Use full PATH like /home/username/cache

[2015-08-11 05:55] bfintal opened #114 "Storage `auto` not working correctly"
I have my memcache installed and verified working. I have this as my setup:

	$config = array(
		"storage" => 'auto',
		"fallback" => "files",

		"securityKey" => "auto",
		"htaccess" => true,
		"path" => "",

		"memcache" => array(
			array( "127.0.0.1", 11211, 1 ),
		),

		"redis" => array(
			"host" => "127.0.0.1",
			"port" => "",
			"password" => "",
			"database" => "",
			"timeout" => ""

[2015-08-11 05:58] khoaofgod commented on #114
basicly, the stats function only work for files I think, for memcache , I don't think I finish it. ^_^

[2015-08-11 06:00] bfintal opened #115 "Error when using uninstalled driver"
From what I understand, the fallback configuration (e.g. files) should kick in if the current driver being used isn't available.

In my setup I have Redis defined in the configuration as well as a `fallback` to `files`. The Redis module isn't installed in PHP.

When doing a `phpFastCache( 'redis' );` and performing normal cache functions, I get this:

    Fatal error:  Call to a member function co

[2015-08-11 06:06] khoaofgod commented on #115
fallback was removed from my last committed, since we can't keep check the function connect and then fallback, it make the server / hosting slow when keep connect to redis.

[2015-08-11 06:06] #115 closed

[2015-08-11 06:10] bfintal commented on #115
The docs need updating then :P

..And why not just add an if statement in `phpfastcache.php`? I'm going to use this from my end

	if ( class_exists( 'Redis' ) ) {
		$this->cacher = phpFastCache( 'redis' );
	} else if ( class_exists( 'Memcache' ) ) {
		$this->cacher = phpFastCache( 'memcache' );
	} else if ( class_exists( 'Memcached' ) ) {
		$this->cacher = phpFastCache( 'memcached' );
	} else if (

[2015-08-11 06:13] khoaofgod commented on #115
Yeah, you can just custom it on your config or whatever php, and then do like that if statement.
Anyway, last 3 months I was busy like hell, and didn't fix some bugs, if you can help fix it, just make a commiit and I will accept it on github.

[2015-08-11 06:22] #112 closed

[2015-08-11 06:26] bfintal commented on #112
Thanks

[2015-08-11 10:15] gcleaves opened #118 "Support PSR-6"
Do you have any plans for phpfastcache to support PSR-6? https://github.com/php-fig/fig-standards/blob/master/proposed/cache.md

[2015-08-11 10:27] khoaofgod commented on #118
Can you help on that? I am so busy now, if someone can help me that, I will thanks ful, and I will accept the commit as a new version.

[2015-08-11 10:29] khoaofgod commented on #118
IF we work on that, it will be version 4.0.0

[2015-08-11 10:51] gcleaves commented on #118
OK, let me see if I can make some time for this.

[2015-08-12 04:37] bfintal commented on #118
I'm assuming version 4.0.0 is the current final branch, correct?

[2015-08-13 15:01] bfintal opened #119 "Remove `eval`"
There is this line in `abstract.php` line 253:

    eval('return $this->instant->$name('.$str.');');

Is it possible to remove this one for a more safer alternative?

[2015-08-14 08:07] lean-stack commented on #118
One big change would be necessary: the PSR treats null as a legitimate value.

See comment at the get()-Method in the CacheItemInterface

[2015-08-17 06:49] SebastianZ opened #121 "Replace typographic quotes in code in wiki pages by straight ones"
Some code examples within the wiki pages use typographic quotation marks and therefore don't work.

As far as I can see there are two pages that need to be fixed:

* [2.1 Install & First Example](https://github.com/khoaofgod/phpfastcache/wiki/2.1-Install-&-First-Example)
* [5.1 Custom Path to Files](https://github.com/khoaofgod/phpfastcache/wiki/5.1-Custom-Path-to-Files)

Sebastian

[2015-08-17 07:30] SebastianZ opened #122 "Describe syntax of functions"
[3.-Available-Methods](https://github.com/khoaofgod/phpfastcache/wiki/3.-Available-Methods) lists the available methods of phpFastCache. Though there is no information about what they do and about how to use them.

I'd expect to see something like this:

## set()

### Syntax
[code]

### Description
Stores a variable in the cache.

### Parameters
#### $keyword
Keyword used to reference the value sa

[2015-08-17 07:39] SebastianZ commented on #121
I did that now.

Sebastian

[2015-08-17 07:39] #121 closed

[2015-08-17 15:52] SikiFn opened #123 "Suggestions to use on multiple servers"
Hello,

Let's say that I have a website running on two servers (the same database and files are replicated on both servers).. I want to use the phpfastcache, but when I want to delete a cache which has a key of "main_page" for example, I want it to be deleted on both server (Knowing that on both servers we already have a cached object with key main_page for example)

what is the best scenario to a

[2015-08-17 16:23] khoaofgod commented on #123
Yes, use phpFastCache with "memcache" "memcached" "redis"
The sync on multiple server, but make sure your servers are same on a datacenter and a private network for fastest speed.

[2015-08-21 07:47] yushkevich opened #124 "unserialize() error abstract.php on line 314"
Hello,

this error was happening sometimes

Message: unserialize(): Error at offset 24571 of 24576 bytes
File: phpfastcache/abstract.php
Line: 314

[2015-08-21 16:47] khoaofgod commented on #124
which driver are you using ? memcache or files or pdo ??

[2015-08-25 13:48] pesaru opened #126 "Automating caching with a CRON job"
Is it possible to have a CRON job automatically set the cache? Right now, my cache is only working whenever someone actually visits the page. However, I would like the CRON job that runs once a minute to automatically set it. It runs fine and without errors, but doesn't affect load times at all. I'm wondering if the files are being saved to a different directory when executed via the cache (the pa

[2015-08-25 13:57] mipapo commented on #126
Just set an exact path for the cache in your script: https://github.com/khoaofgod/phpfastcache/wiki/5.1-Custom-Path-to-Files
Usually their will be a folder created with the hostname, which was requested. Your cron is running locally. I think you just calling the script and not make an http request?

[2015-08-25 16:51] khoaofgod opened #127 "I will be back from next week."
Finally, I finished my projects from last chrismas for Inhouse, Inc,
Next week, I will be back to handle all plans & upgrade the next version of phpfastcache.

Thanks for keep using it, and special thanks to some of you guys, who keep send Pull Requests and update the PhpFastCache for us from last year.

[2015-08-28 07:15] reno1979 commented on #127
Muaaah! :)

[2015-08-29 15:07] bfintal opened #128 "Premature end of script headers"
A bit of background: we're building a commercial caching WordPress plugin. As of the moment it is working great except for this certain error which I cannot get a hold of. We've been testing for the better part of a week now. We are getting this error from the PHP logs which triggers a 500 error:

Have you encountered this before?

We are testing in a number of shared hosting sites and it happens

[2015-09-04 05:30] bfintal opened #129 "Do not `die` for failures"
If you do a `get` using filesystem caching, and the folder gets cleaned out right before the call, its better to let the system just fail with the `get` command instead of letting the whole page `die`.

Either return false / null or throw an error

[2015-09-04 05:42] bfintal commented on #127
Awesome news, we are in the testing phase for our caching plugin for WordPress called Gambit Cache. We are having problems during our testing, more specifically towards the filesystem caching. Appreciate help on that one.

[2015-09-04 15:32] #129 closed

[2015-09-04 15:33] khoaofgod commented on #128
so, you got Internal Server Error ?
Server run: CGI / Fast or Module PHP ?

[2015-09-04 15:34] khoaofgod commented on #126
OK, I will make a file to clean cache with cron.

[2015-09-04 15:34] khoaofgod commented on #126
on schedule working now

[2015-09-04 15:35] khoaofgod commented on #127
yeah, i'm starting working on some issues now. Any questions just open new issues.

[2015-09-04 15:35] #127 closed

[2015-09-04 15:35] #123 closed

[2015-09-04 15:36] khoaofgod commented on #118
Ok, I put this on working right now, I will do some scratch work on version 4.

[2015-09-04 15:36] #114 closed

[2015-09-04 15:37] #124 closed

[2015-09-04 15:37] #119 closed

[2015-09-04 15:38] khoaofgod commented on #113
WIki will need to update

[2015-09-04 15:38] khoaofgod commented on #107
Sure, Unit Socket is on working schedule.

[2015-09-04 15:40] khoaofgod commented on #104
$fastCache = phpFastCache() <-- this one is existing Instance already.
You can declare a static class
class mycache {
        public static $cache = array();
}
mycache::$cache['my_cache_name'] = phpFastCache(whatever);

In your function, class, do call:
$fastCache = mycache::$cache['my_cache_name'] ;

[2015-09-04 15:40] #104 closed

[2015-09-04 15:41] #92 closed

[2015-09-04 15:42] #103 closed

[2015-09-04 15:42] #98 closed

[2015-09-04 15:44] pesaru commented on #126
I figured out what I was doing wrong today. There were two issues.

When you schedule with a CRON job and you have to set BOTH "path" AND "securityKey." If you do not set path, it will default to a different working directory. If you do not set security key, the live version of the site will create a folder called "yoursitenamecom" but the CRON job will create a folder called "Default."

[2015-09-04 16:13] bfintal commented on #128
CGI / FastCGI

Yup I'm somehow getting internal server errors. This is boggling my mind.

As of the moment, I've dropped support for caching stuff that tend to get modified often.. because maybe there's too much IO file activity. So far, there's almost no internal errors. there are sometimes though and those show up as premature end of script headers.

[2015-09-04 16:24] khoaofgod commented on #126
I see,
I will make a cron.php to clean up all the folders.
And you guys only need to setup 15 mins cron time for cron.php

[2015-09-04 16:26] khoaofgod commented on #69
I work on this one, we will have tags soon.

[2015-09-04 18:17] bfintal commented on #128
Reason for the close? I'd appreciate help on this

[2015-09-04 18:41] khoaofgod commented on #128
Hahah, I thought u said u have no more problem with the script anymore.
Internal Error is something problem with Apache Server, not PHP it'self. Or PHP run something that Apache doesn't have that function.
So, to check the Internal Error, you have to open the Apache Log, and see the time that you get problem. I am sure it log the bug there,

Let me know.

[2015-09-05 02:09] bfintal commented on #128
Nope it's still there, only happens less because I lessened the caching calls. But it's still there sometimes during caching activity.

The message regarding premature headers is from the error log. From the browser all you can see is the internal server error notice. No other clues other than that cryptic premature end of script headers

[2015-09-06 05:23] khoaofgod commented on #128
Ok, I think I got the problem.
I will do optimize by this weekend, and see new version on Monday will fix it or not.

[2015-09-06 12:25] bfintal commented on #128
That would be great, we are almost finished testing the plugin and we are aiming for a release this week.

What did you figure the problem is?

[2015-09-06 18:25] khoaofgod commented on #128
if it's Files Cache, the problem is I/O hit, when the Files is OPEN, other process can not overwrite it. It's barely happen, but I think it is.

[2015-09-07 20:31] sarahansen223h opened #131 "cloudant.com"
Hi,

- I want to say this is a really good cache lib! i hope many people use it and you get very known. What i'm missing personal is a way to use cloudant.com with phpfastcache. I hope you can support cloudant.com

[2015-09-07 21:40] sarahansen223h opened #132 "memcached"
Hi dear,

How can i connect to a memcached ip and port and write key to cache and get key?

could you  please provide me with a simple to show how step by step please..

[2015-09-08 02:17] sarahansen223h opened #133 "SASL Authentication"
SASL authentication for memcache/memcached would be nice to have

[2015-09-09 12:20] bfintal commented on #128
So we need add a) file locking if that's the case, or to b) just gracefully fail the other write when the file is inaccessible.

[2015-09-11 23:29] thekksed opened #134 "Allow foreign language characters as keywords?"
Hi, I use my post title as keywords, some of them contain some japanese and korean characters. It seems phpfastcache won't be able to use those words as keywords.

Can you add support for those foreign language characters?

Thank You.

[2015-09-12 10:12] bfintal commented on #127
Any updates?

[2015-10-01 01:25] fbonzon opened #138 "What is the purpose of the "storage" setting in config file?"
In the first example on the homepage, I see;
[code]
What is the purpose of this setting?

It seems to me that it is useless. When creating a new `phpFastCache()` object with no storage specified, I would expect that this default storage specified in the config file would be used.

But this is not the case. Instead, `self::getAutoClass` gets called and overwrites whatever is specified as default st

[2015-10-04 03:38] masterbee opened #141 "Multiple Unique Caches in same script"
Ho @khoaofgod,

 First and foremost very impressive work, this is really solid cache lib and I have converted many scripts and webpages to leverage it. That said I have a need to have 2 independent 'sqlite' caches in one script. Is there an easy way to do this?

Thanks

[2015-10-04 15:03] xtix opened #142 "clean expired cache"
I use "files" cache. Often part of caching data is expired and nobody uses them long time. Data occupies much space (several gigabytes and more). I would like to clear only expired cache (for example by cron), because operation get data is very slow. I need a function cleanExpiredCache() or something like this.

[2015-10-04 15:09] darkoromanov opened #143 "Sqlite configuration"
Hi,

I don't know where to ask, so forgive me if I open an issue. I can't find an example or documentation about how to configure Sqlite. Google was not useful this time.

[2015-10-05 08:40] fbonzon commented on #143
I was able to configure sqlite like this:

[code]

On first two lines, you need to change the paths to your setup:
- On line 1, it's the root folder of the phpfastcache source code.
- On line 2, it's the root folder where caching files will be stored. It must be writeable  by the UNIX user that your webserver runs with, and preferably located outside the web root, so it is not directly accessible

[2015-10-05 08:48] fbonzon commented on #141
You can specify a full config array when creating a cache variable. Try something like:

[code]

[2015-10-05 14:41] masterbee commented on #141
@fbonzon thank you for this very well responded and great example.

:+1:

[2015-10-05 14:41] #141 closed

[2015-10-15 09:23] darkoromanov commented on #143
Thanks, it works now. I was using an old version of phpFastCache so your syntax was not recognized at first, I updated and now it works and I see it correctly creates the database file.

[2015-10-15 09:23] #143 closed

[2015-10-19 13:42] stormoPL opened #144 "[Predis] Issue with DELETE command"
I have faced an issue when trying to delete key using $cache->delete("key_name"). I works with auto storage but when switching to Predis it fails with error informing that "delete" is not valid command for Predis.

I traced it back to line 124 in Predis driver where "DELETE" instead of proper Redis "DEL" is passed.

https://github.com/khoaofgod/phpfastcache/blob/final/phpfastcache/3.0.0/drivers/pr

[2015-10-20 08:29] ninanurcahyani opened #145 "Could phpfastcache handle using api like this?"
could handle this

if (isset($_GET['searchby'])) { $searchby = strip_tags($_GET['searchby']); }
$searchby = str_replace(array('title', 'author', 'publisher', 'isbn', 'categories'), array('intitle:', 'inauthor:', 'inpublisher:', 'isbn:', 'subject:'), $searchby);
$search = strip_tags($_GET['search']);
$search = str_replace('-', ' ', $search);
$search = preg_replace('/\s[\s]+/', ' ', $search);  // St

[2015-10-20 12:41] fbonzon commented on #145
Please format, indent, etc. your code nicely in a PHP code block using Markdown, so it's easier to read for others who want to help.

Yes, phpfastcache can help you here. Caching API replies is a typical use case. I would use the `sqlite` engine, and cache for 24 hours.

[2015-10-27 16:46] vincent opened #146 "Predis class required even it is already there"
The driver class [loads its own Predis class file](https://github.com/khoaofgod/phpfastcache/blob/5ee8aadcf04921f1b6f5742d2610973a5d8e9fe0/phpfastcache/3.0.0/abstract.php#L268) but this is problematic when Predis is already loaded, and it will fail with "Cannot redeclare class Predis\Autoloader"

I'm not sure sure how you want to resolve this, but if you have some thoughts about it I can make a PR

[2015-10-27 17:01] khoaofgod commented on #146
redeclare, mean somehow you required the autoloader before phpFastCache already.
Before I make a change for it, you can do like this:
Go to: drivers/predis.php
Look for: $this->required_extension("predis-1.0/autoload.php");
Comment // these lines and I think you will be all set.

I will try to check if Predis loaded on next version, right now I am still busy, if someone comite the code, I will tha

[2015-10-27 18:27] vincent commented on #146
yep, thats the workaround I used.

I'll try to find some time to make a PR.

thanks

[2015-10-27 18:27] #146 closed

[2015-10-27 22:01] khoaofgod commented on #144
Can you comit the change? I will accept it. Make sure Predis and Redis is 2 different.

[2015-10-28 15:21] #144 closed

[2015-10-28 18:09] Axisar opened #149 "Memcache method make 2 get requests at once"
Memcache method make two get requests at once
first one with each request with key "changed"
second one with real key.

[2015-10-28 18:10] khoaofgod commented on #149
what you mean on this?

[2015-10-28 18:28] Axisar commented on #149
i start empty memcache.
making cache this way
...
$html = $cache->get($keyword_webpage);
if($html == null) {
	ob_start();
...  script work here ...
	$html = ob_get_contents();
	$cache->set($keyword_webpage,$html, $cachetime);
...

then request stats of memcached
(echo -e 'stats\nquit'; sleep 1) | telnet localhost 11211
and see
STAT get_hits 0
STAT get_misses 2
but just one request made by script.

[2015-11-13 23:24] synyalex commented on #142
With this handle $ cache-> stats (); Scheduled for example cron, though with a large volume of cache error TIMEOUT

[2015-11-14 00:24] khoaofgod commented on #142
If anyone work on this, I will happy.
If not, wait until Next month, right now company is so busy.

[2015-11-14 00:27] #145 closed

[2015-11-15 02:39] synyalex commented on #142
I have exceeded the file cache and 1 GB of regular means Clear impossible on a shared hosting there is an overload and usually a timeout.
I decided to add a feature scheduled cron to the desired period of time is called and clears the cache for a folder in the rotation.
The problem has disappeared, the limits in order
in abstract.php
<code>function rotate($option = array()) {
        return $this-

[2015-11-15 03:00] khoaofgod commented on #142
hi bro, can you comit a request, and document for this method. I will accept the merge to help others right away.

[2015-11-15 18:36] nikmauro commented on #69
Any progress or any help about this?

[2015-11-19 11:26] xtix commented on #142
thx for help, i hope this will be added to the release.

[2015-11-19 15:14] khoaofgod commented on #142
released

[2015-11-19 15:14] #142 closed

[2015-12-03 02:13] kirillDanshin commented on #149
Please, show your hashing function. It seems, you add time() result to your HF.

[2015-12-09 03:21] triune commented on #78
Yeah, what happened to 3.x ??

[2015-12-11 13:21] hoffmanns opened #153 "Improve documentation: file cache with non-alphanumeric keys"
Please add to the documentation that when using file cache, only alphanumeric keys can be used. Other characters will be replaced by underscores. Had to dig into the code to figure this out.

I found it in [here](https://github.com/khoaofgod/phpfastcache/blob/final/phpfastcache/3.0.0/drivers/files.php#L33)

[code]

This can lead to strange errors because it the same cached results are returned/wri

[2015-12-11 17:55] ricardodavidsoares opened #154 "Share cache between 2 projects in same server."
Hi,
I'm having this problem and don't know how to solve it. I have two web applications runing in same server but with diferent domain names, so, when I use PHPFastCache each one creates it's own folder on the specified cache path.
What I want is to make them share the cache folder, so when one puts info into cache the other can read it.
Can you please help me?

Thank you in advance.

[2015-12-14 13:31] remowashere commented on #154
I assume you are using something like;
$keyword_webpage = md5($_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'].$_SERVER['QUERY_STRING']);

There's no need to do this, you can setup both domains to use /tmp/ as caching dir.

[2015-12-14 14:32] ricardodavidsoares commented on #154
No. I'm doing just "$cache = phpFastCache();" and then "$cache->set('xpto', $arr_dados, $this->ttl);" "$data = $cache->get('xpto')".
I didn't change any default config, but I can see two folder, one for each domain, in /tmp/.

[2015-12-14 15:01] ricardodavidsoares commented on #154
Hii,
I just found my solution here "http://stackoverflow.com/questions/33805633/how-to-clear-phpfastcache-when-path-set-to-tmp". Thank you for your time either way.

Greetings.

[2015-12-18 12:36] drAlberT opened #157 "Wrong config for REDIS driver"
Hi,
  there should be something strange in the handling of the phpFastCache() function parameters/defaults config .. the following code doesn't works for **redis**, while it works perfectly for **memcache**

[code]

**Redis is correctly installed and working, as telnetting I can connect**

This is the PHP error given:
[code]

[2015-12-18 18:38] khoaofgod commented on #157
do you install redis for php? look like php don't have redis lib.

[2015-12-18 18:39] khoaofgod commented on #157
if your PHP version don't have Redis Lib, just use "Predis" built-in in PHP Fastcache.

[2015-12-18 19:17] drAlberT commented on #157
Uhmmmm will double check, tnx
Il 18/dic/2015 19:42, "Khoa Bui" <notifications@github.com> ha scritto:

[2015-12-18 22:22] khoaofgod commented on #157
@drAlberT  : $cache = phpFastCache('redis');
try $cache = phpFastCache('predis'); <-- this one will use built-in Predis

[2015-12-18 23:09] fajarfariyanton opened #158 "cache can't read after moving server"
hello.

i'm use sqlite cache without expired time. i have a lot of sqlite cache generate by phpfastcache.

next time, i'm moving from old vps to new dedicated server.

but why phpfastcache not read old cache.

can you help me?

[2015-12-18 23:52] khoaofgod commented on #158
take a look at the PATH and if you move all the sqlite files on CACHE PATH to your new server, it should read, if the domain name is the same.

[2015-12-19 01:38] fajarfariyanton commented on #158
yes i'm use same domain. and same PATH, my PATH is correct. but phpfastcache not read from old sqlite.

[2015-12-20 00:12] ZioProg opened #159 "Cache API called by shortcode"
Hi there

I use a shortcode to make product search with Amazon API. The attrs of the shortcode is the keyword I put in the ItemSearch.
Here you are my code:

[code]

However, it is "working" but without caching.  What I would like to do is to cache differently each keyword ($kw) inserted with the shortcode and get returned info from cache after the first call for one hour.

Could someone help me o

[2015-12-21 15:28] drAlberT commented on #157
@khoaofgod ok, it was my bad .. missing extension loaded

This issue became an RFE then :P .. please handle missing drivers errors more descriptively :)

Thank you

[2015-12-21 15:28] #157 closed

[2015-12-23 07:40] dearteno opened #160 "Support for Sharedance"
I try to implement the Sharedance Extension that use  your ssdb's extension as code  base but do not success.
please  support for  Sharedance Cache.
About Sharedance : http://www.phpclasses.org/package/3712-PHP-Access-Sharedance-distributed-cache-servers.html

[2015-12-23 10:24] mipapo commented on #158
Missing php5-sqlite?

[2015-12-23 16:04] ZiZuu-store commented on #138
:+1:

[2015-12-23 16:30] fbonzon commented on #138
Would you rather fix the code to honor this config setting, or remove this config option? It makes no sense to keep it if it doesn't work. Only adds confusion.

[2015-12-24 19:58] dansenjaya commented on #158
no, i'm succes create new cache with sqlite , but can't read old cache.

[2015-12-24 19:59] dansenjaya commented on #158
sorry i'm use new github account because my old account is lost password email

[2015-12-27 17:22] kaanc opened #162 "fetchAll error"
Hi,
ı use phpfastcache
and give error "Notice: Array to string conversion "
$query=$database->db->prepare("SELECT *
				FROM table
				LIMIT $number");
			$query->execute();
			$players = $query->fetchAll();
			$cache->set("top_player_home,$players,900");

[2015-12-27 18:41] kaanc commented on #162
I solved this issue
$cache->top_player_home = array($players, 900) work

[2015-12-27 19:51] #162 closed

[2015-12-28 11:09] ibnbd opened #164 "Unicode Problem"
Cache working perfect and faster, but having problem with locale unicode support. In live version Unicode working perfect "নাগরিক টিভিতে আপনার প্রতিষ্টানের ইমেইজ। ভিডিও। ডিজিটাল বিজ্ঞাপন দিন।।" this is our Bangla Unicode text.

In cached version it becomes
"à¦¨à¦¾à¦—à¦°à¦¿à¦• à¦Ÿà¦¿à¦­à¦¿à¦¤à§‡ à¦†à¦ªà¦¨à¦¾à¦° à¦ªà§à¦°à¦¤à¦¿à¦·à§à¦Ÿà¦¾à¦¨à§‡à¦° à¦‡à¦®à§‡à¦‡à¦œà¥¤ à¦­à¦¿à¦¡à¦¿à¦“à¥¤ à¦¡à¦¿à¦œà¦¿à

[2015-12-30 06:49] seijimaddog opened #167 "Memcached with wrong expiration time"
To set the expiration time, we should only pass the duration of the cache in _seconds_. The function _driver_set_ of the driver is using an absolute time, adding the current _unix time + expiration time_, so my keys are never expiring. Removing _time()_ from the expiration makes it work as expected.

File: *phpfastcache/3.0.0/drivers/memcached.php*
Code with the fix:
[code]

[2015-12-30 08:27] shiroamada commented on #138
and for the storage function, seem like once the path is writeable it will not select other.
[code]
The predis also not included in the storage.

[2016-01-10 05:02] #167 closed

[2016-01-14 20:58] efyoung opened #169 "You cannot serialize or unserialize PDOStatement instances"
I get this error when trying to do the basic cache:

Uncaught exception 'PDOException' with message 'You cannot serialize or unserialize PDOStatement instances'

Here is my code:

        $cache = phpFastCache();

        // Try to get $geo from Caching First
        // geo_results is "identity keyword";
        $geo = $cache->get("geo_results");

        if ($geo == null) {
            $geo = $th

[2016-01-14 21:34] khoaofgod commented on #169
you can cache RESULT ( array, object, string, number, null, ..etc ) , not a PDO statement

[2016-01-14 22:17] efyoung commented on #169
So, how best would the above be written? I want to cache the results of my stored procedure.

[2016-01-14 23:01] khoaofgod commented on #169
$geo = $this->connection->prepare("call sproc_qryGeo($latitude, $longitude, $radius, $numResults, $startPosition, $pageSize)");

After prepare, you have to Excute and Fetch() the object.
For example:
$stm = $this->connection->prepare("YOUR QUERY");
$stm->execute();
$geo_result = $stm->fetch();

HERE , you can cache ur $geo_result;
Try to look for PDO Prepare / execute / fetch

[2016-01-15 03:53] efyoung commented on #169
That helped, but now my testing shows no cache. This is what I have now:

$cache = phpFastCache();

        // Try to get $geo from Caching First
        // geo_results is "identity keyword";
        $geo = $cache->get("geo_results");

        if ($geo == null) {
            // execute and fetch
            $sth = $dba->getGeo($latitude, $longitude, $radius, $numResults, $startPosition, $pageSize)

[2016-01-15 16:03] efyoung commented on #169
Is it because I'm refreshing the page?

[2016-01-19 15:43] ricardodavidsoares commented on #154
I downloaded the latest version today and the solution I used doesn't solve the issue anymore.
Now, when I set the path it appends a "-" to it. For example, if I set it to "XPTO" the folder created will be "XPTO-".
I don't know why and I'm stuck with this problem. Would appreciate a help. Thank you.

[2016-01-20 08:07] mipapo commented on #154
Yep - Same problem here. Havn't found it on the quick way. Has to be a bug since one of the latest releases

[2016-01-20 23:56] fbonzon commented on #138
@khoaofgod What do you think here?

[2016-01-23 01:50] wetvibes opened #170 "Cache mysql_fetch_assoc"
I spent over 3 hours to try makeing this php code cache with phpfastcache:

function getvalue($field, $table, $id)
{
    $sql = "select " . $field . " from " . $table . " where id = '" . $id . "'";
    $res = mysql_query($sql);
    if( $res )
    {
        $row = mysql_fetch_assoc($res);
        return $row[$field];
    }

}

Any help would much appreaciated. Thank you!

[2016-01-23 03:54] khoaofgod commented on #170
$cache = phpFastCache();
$keyword = $field.$table.$id;
$data = $cache->get($keyword);
if($data === null ) {
       $data = getvalue($field, $table , $id );
       $cache->set($keyword, $data, 600 );
}
echo $data;

You can also cache level inside your function getValue , same logic , instead of echo data, you return data.

[2016-01-23 12:26] wetvibes commented on #170
Thanks alot @khoaofgod for the fast reply. If you have 1 more minute to spare can you please tell me exactly how should i use phpfastcache with this function i mean the exact code. I really cant put it all together:

function getvalue($field, $table, $id)
{
    $sql = "select " . $field . " from " . $table . " where id = '" . $id . "'";
    $res = mysql_query($sql);
    if( $res )
    {
        $r

[2016-01-25 10:29] ychadwick opened #171 "PHP required version >= 5.4"
In the class vendor/phpfastcache/phpfastcache/phpfastcache/3.0.0/phpfastcache.php the method cleanFileName round line 205 uses PHP 5.4 style arrays, but the composer.json file defines the required PHP version to be >= 5.1.0. This is incorrect, and will lead to fatal errors if someone tries to install the library on a lesser PHP version. Either change the composer.json file, or use the old array st

[2016-01-26 03:30] maxdimaz opened #172 "Clean Expired Cache on SQLite"
[FIXED]
Hi thanks for the great plugin. But have some issue here you was add  $cache-> stats (); to clean expired cache if using files method.

Im Trying using Files but i have many file and Windows / Linux Have Limit File per Folder. So Im Using SQLite but there are not function to cleanup expired cache. can you add some function of it? so i can call on CronJob

Thanks

[2016-01-26 23:09] nikmauro commented on #69
here some libraries with tags implementations  [https://github.com/cpojer/php-cache] [http://www.gabrielemittica.com/cont/guide/brennocache-a-smart-cache-engine-for-your-php-applications/19/1.html]

[2016-01-27 01:34] maxdimaz commented on #172
Sorry i got this issue thanks

[2016-01-27 01:34] #172 closed

[2016-01-27 10:33] wloske opened #174 "Setup Issues"
Hi @khoaofgod,

I am having trouble with setting up phpFastCache. It seems that my settings array is being ignored. When I set up the storage engine statically `phpFastCache::setup('storage':'sqlite')` it is not being setup correctly. The engine used is `files` The path, also being set up statically, is being set correctly.

[code]

The `var_export()` in the end gives this:
[code]

The desired `sq

[2016-01-30 20:08] Geolim4 opened #175 "DeleteMulti() is not working properly (Not as defined in readme)"
Hi,

in the readme, you wrote this sample:

But when checking *deleteMulti()* method here: https://github.com/khoaofgod/phpfastcache/blob/final/phpfastcache/3.0.0/abstract.php#L178

You loop on keyword, perfect, but why deleting **$array[0]** in the reference ?
It's same thing than:

So **$array[0]** in **$array** will take the first byte as it is a string.

I am surprised that one noticed this be

[2016-01-30 21:11] khoaofgod commented on #175
sure @Geolim4
Can you do a fix for it, also, remember the one that you disagree with "@read" something, can you remove these "@" too.

Thanks so much.

[2016-01-30 21:34] Geolim4 commented on #175
In 2 separate PR i guess?

[2016-01-30 21:58] Geolim4 commented on #175
Done, finally, is two separate commits

[2016-01-30 22:07] Geolim4 opened #177 "Adding phpDoc block comment"
Hi,

I think that we must clean all the dirty/random comments, and follow the [psr-5 fig-standards](https://github.com/phpDocumentor/fig-standards/tree/master/proposed), still in draft but you get the concept.

I principally mention these one:

- @licence
- @method
- @var
- @author
- @package
- @see
- @deprecated

Regards,
Georges

[2016-01-30 22:49] Geolim4 commented on #86
Bump :)

[2016-01-30 22:49] Geolim4 commented on #175
Ok merged, thanks !

[2016-01-30 22:49] #175 closed

[2016-02-01 00:40] dvLden opened #179 "Latest version update - error"
I am unsure what is it, not sure if the image will help either, but here it is:

<img width="1381" alt="screen shot 2016-02-01 at 01 39 28" src="https://cloud.githubusercontent.com/assets/3460368/12706414/d397e2b4-c884-11e5-8095-11e438eb8ef6.png">

[2016-02-01 01:56] khoaofgod commented on #179
@dvLden  can you download and try again, someone made a fix patch this morning already

[2016-02-01 11:47] nikmauro opened #180 "Plesk server hosting error backup"
Hello i have on application who use the phpfastcache file system.
The plesk 12.5 linux when run the daily back up return in this client this notice.

Not all the data was backed up into /var/lib/psa/dumps/clients/****/domains/**** successfully. For security reasons, backing up is performed on behalf of subscription's system user. This system user has no read access to: /var/www/vhosts/****/httpdoc

[2016-02-01 18:42] khoaofgod commented on #180
can you do chmod -R 0777 /var/www/vhosts/[client]/httpdocs/tmp/cache/cache.storage./
or do change own for  /var/www/vhosts/[client]/httpdocs/tmp/cache/cache.storage./ to same user with host client.
OR simple:
setPath the cache to outsite httpdocs for it doesn't backup the cache.
Look like apache backup or system backup don't have permission to read that client's folder.
If you still can't handle i

[2016-02-01 22:32] Geolim4 commented on #177
@khoaofgod Are you ok with this ?

[2016-02-01 22:57] khoaofgod commented on #177
@Geolim4 if you can help working on this :dancer:  I will thankful, I was just too busy, so most the bugs right now, I accept the commit from other developers.

[2016-02-01 22:58] #171 closed

[2016-02-02 00:05] Geolim4 commented on #177
Okey, nice so !!

[2016-02-02 00:15] Geolim4 commented on #177
What's the php minimum compatibility ?

[2016-02-02 00:58] khoaofgod commented on #177
Make it 5.1 @Geolim4
I think  5.1 is minimum right now and JSON supported on 5,1

[2016-02-02 00:59] Geolim4 commented on #177
Copy that :)

[2016-02-02 01:00] khoaofgod commented on #177
thanks ^_^

[2016-02-02 01:01] Geolim4 commented on #177
I will also define missing visibility attributes and follow some psr-1/2 recommendations.
Is up to you to validate the PR later :)

[2016-02-02 01:10] Geolim4 commented on #177
You will have a lot of code review :D

[2016-02-02 01:15] khoaofgod commented on #177
sure, ^_^

[2016-02-02 01:47] Geolim4 commented on #177
Done but i resolved a conflict on some files, can you check if a don't forget anything during the merge ?
Thanks.

    Conflicts:
        phpfastcache/3.0.0/abstract.php
        phpfastcache/3.0.0/drivers/files.php
        phpfastcache/3.0.0/drivers/sqlite.php
        phpfastcache/3.0.0/phpfastcache.php

[2016-02-02 01:47] Geolim4 commented on #177
Commit @17c589f

[2016-02-02 01:58] #177 closed

[2016-02-02 02:09] #88 closed

[2016-02-02 02:10] Geolim4 commented on #164
What is the driver you used ?

[2016-02-02 18:01] Geolim4 opened #182 "Custom Exception Class for a better control"
I think that using SPL Exception is a bit "easy" we should make a custom exception to have a better control of the code.

Such as phpfastcacheCoreException and phpfastcacheDriverException, are you ok ?

[2016-02-02 18:02] khoaofgod commented on #182
you want to help me make one? if yes then go ahead.. xD

[2016-02-02 18:03] Geolim4 commented on #182
Then let's go !
I will keep going in your "legacy code" way, until someone make the autoload ;)

[2016-02-02 18:06] khoaofgod commented on #182
you know what, I am feel like I out date these day, u guys are just keep better and better. LOL. How about, u create a whole new version, release 4, with that and autoload too :dancer:
I will share you project permission for you can change the home page with your information in contact, if you help on this..xD my way coding still old way =.=!

[2016-02-02 18:10] Geolim4 commented on #182
Not needed for now, i'm glad to contribute ;)

[2016-02-02 18:19] khoaofgod commented on #182
yeah, then thanks for help me on this.

[2016-02-02 20:35] #182 closed

[2016-02-03 23:53] Geolim4 commented on #158
Did you checked the chmod (777) ?
Also you may need to chown the directory as you changed the server, the uid may changed too.

[2016-02-05 09:43] nikmauro opened #189 "Fatal error: require(): Failed opening required 'Phpfastcache' folder"
Warning: require(/home/www/mysite/vendor/phpfastcache/phpfastcache/src/Phpfastcache/legacy/aliases.php): failed to open stream: No such file or directory in /home/www/mysite/vendor/composer/autoload_real.php on line 55

Fatal error: require(): Failed opening required '/home/www/mysite/vendor/phpfastcache/phpfastcache/src/Phpfastcache/legacy/aliases.php' (include_path='.:/usr/share/pear:/usr/share/

[2016-02-05 10:02] nikmauro commented on #189
I have rename manual the folder path and now the project return this

Fatal error: Class 'Phpfastcache\core\InstanceManager' not found in /home/www/cms39/library/cache.php on line 53

I test with code in examples/3.setup.php

[2016-02-05 10:20] nikmauro commented on #189
After composer update the the file /vendor/composer/autoload_prs4.php is empty

[code]

[2016-02-05 10:23] Geolim4 commented on #189
​Did you ran the composer ?​

2016-02-05 11:02 GMT+01:00 nikmauro <notifications@github.com>:

Georges.L

[2016-02-05 10:31] nikmauro commented on #189
composer.json

[code]

`# composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
  - Installing phpfastcache/phpfastcache (dev-final 3cca8f8)
    Cloning 3cca8f84903aff1faec67dd39a63fef852b992fc

Writing lock file
Generating autoload files`

autoload_files.php
[code]

autoload_namespaces.php

[code]

[2016-02-05 18:42] dansenjaya commented on #158
@Geolim4 can you give me example

[2016-02-05 18:53] Geolim4 commented on #158
Bash commands:
- `chown -R user your_cache_directory`
- `chmod -R 777  your_directory`

[2016-02-05 19:02] Geolim4 commented on #189
Could you zip me the whole directory including phpfastcache and the composer bin ?
Thanks !

[2016-02-05 19:04] Geolim4 commented on #169
Try fetching as an array using `PDO::FETCH_ASSOC` :)

[2016-02-05 19:12] Geolim4 commented on #189
I also retested it in my side with a composer update, everything works fine, i'm surprised O.o

[2016-02-05 19:17] nikmauro commented on #169
@Geolim4  https://www.wetransfer.com/downloads/c3b90b7bee0954e955ee9a91eae57d1520160205191615/10fe6a496881290b175bcdd154d1d08020160205191615/6295f1

[2016-02-05 19:18] nikmauro commented on #189
@Geolim4  https://www.wetransfer.com/downloads/c3b90b7bee0954e955ee9a91eae57d1520160205191615/10fe6a496881290b175bcdd154d1d08020160205191615/6295f1

[2016-02-05 19:30] nikmauro commented on #189
@saiful [](url)

[2016-02-05 20:29] Geolim4 commented on #189
Ok got it, i'm on it.

[2016-02-05 21:46] Geolim4 commented on #189
Fixed with 4.0.3.
Delete your vendor directory and run a composer update :)

Regards,
Georges

[2016-02-05 21:47] #189 closed

[2016-02-05 21:48] Geolim4 commented on #179
Fixed

[2016-02-05 21:48] #179 closed

[2016-02-05 21:49] Geolim4 commented on #164
@ibnbd ? :)

[2016-02-05 21:52] Geolim4 commented on #126
We could make this, but there's a lot of enhancements/fixes before.
You can also define your own cron that point to a file that run the `clean()` method API.
I close this one for now, this will be "maybe" discussed in v5.

[2016-02-05 21:52] #126 closed

[2016-02-05 21:54] Geolim4 commented on #159
You have to call the API method such as `get()` and `set()`.
The latest version documents this ;)

[2016-02-05 21:54] #159 closed

[2016-02-05 21:56] Geolim4 commented on #154
Just define a shared directory for the cache and a shared securityKey, it should work.
Anyway please test the last release (4.0.3), it is not production stable, but stable enough for testing purposes. Reopen this issue if needed.

[2016-02-05 21:56] #154 closed

[2016-02-05 22:03] #86 closed

[2016-02-06 00:57] Geolim4 commented on #134
Related to #164

[2016-02-06 00:59] Geolim4 commented on #131
We do not have plan for third party drivers right now, it's not a "final no", but we have a lot things to fix and improve currently ;)

Regards,
Georges

[2016-02-06 00:59] #131 closed

[2016-02-06 01:01] Geolim4 commented on #118
Reported to V6 as the V4 and V5 will keeps the same method names and had already interfaces.

[2016-02-06 01:03] Geolim4 commented on #160
It's not planned right now, but feel free to contribute when you'll get some more skills, i'll be glad to merge a new driver to Pfc ;)

[2016-02-06 01:03] #160 closed

[2016-02-06 01:04] Geolim4 commented on #107
Gotta implements this for V5 :)

[2016-02-06 07:28] nikmauro commented on #189
Perfect! Thanks @Geolim4

[2016-02-07 04:22] radiaku opened #200 "Where I can download older version?"
Where I can download the older version? I still using php 5.3 and Currently using phpfastcache v2.1 but **_phpFastCache::$files_cleanup_after  = 1;_** doesnt work...

SS
![screenshot_3](https://cloud.githubusercontent.com/assets/5983350/12870889/cd6a7f5c-cd8c-11e5-8489-28cbc235d323.png)
and here my code
![screenshot_4](https://cloud.githubusercontent.com/assets/5983350/12870893/ecb8fec4-cd8c-11e5-

[2016-02-07 04:35] Geolim4 commented on #200
Hi,

The 2.1 is now pretty old ! You should consider to upgrade quickly  :)

Regards,
Georges

[2016-02-07 05:04] khoaofgod commented on #200
here, on release page:
https://github.com/PHPSocialNetwork/phpfastcache/releases

[2016-02-07 05:04] khoaofgod commented on #200
https://github.com/PHPSocialNetwork/phpfastcache/releases?after=3.0.8

[2016-02-07 11:45] radiaku commented on #200
Yeah, i know 2.1 is old. But if its worked without vendorload stuff.

@khoaofgod thanks for replying.. i didnt see release link on your github.

[2016-02-07 11:45] #200 closed

[2016-02-07 16:26] khoaofgod commented on #200
We will make sure new version support legacy code again.
On Feb 7, 2016 3:45 AM, "radia" <notifications@github.com> wrote:

[2016-02-07 16:47] radiaku commented on #200
@khoaofgod
Thank you, its Wonderful...., so i can just simply include it?

Btw how setting limit cache? I still getting error using 3.10. The error lookalike ss in above?

[2016-02-08 23:18] w3l opened #219 "4.0 release notes?"
4.0 is a major bump, mostly interested in if 4.x breaks backward compatibility?

[2016-02-08 23:19] khoaofgod commented on #219
yes, minimum php 5.3, everything else is same.
support autoload and legacy coding as 3.x

[2016-02-08 23:31] Geolim4 commented on #219
Indeed, we are working hard with the V4 to get the code much close as we can with psr standards.
For now we keep the legacy working, but you have to have to think at your code to be composer-compliant as soon as you can ;)

[2016-02-08 23:43] khoaofgod commented on #69
it will be add next week, on this version 4

[2016-02-09 02:52] w3l commented on #219
Thx, that helped! :smile:

[2016-02-09 02:52] #219 closed

[2016-02-09 11:55] nikmauro opened #221 "Warning: Ambiguous class resolution"
Problem with final version

[code]

[2016-02-09 12:03] Geolim4 commented on #221
Thanks for the report, will be fixed asap !!!!

[2016-02-09 12:05] #221 closed

[2016-02-09 18:01] nikmauro commented on #69
@khoaofgod This is awesome news!

[2016-02-10 00:29] olivermcruz opened #223 "Fatal error: Class 'phpFastCache' not found"
after pulling latest changes. I noticed there were major changes. My code used to work and i tried pointing phpFastCache.php to the new directory but im getting same problem. I tried using new methods and followed examples but nothing seems to work for me

Here is my sample code:
  require_once("libs/phpfastcache/src/phpFastCache/phpFastCache.php");
  phpFastCache::setup("redis",$REDIS_CONFIG);

[2016-02-10 00:34] olivermcruz commented on #223
side note: i used predis instead of redis. Seems like class redis was not defined class prior to the new update.  Also my last checkout before the update was end of january if that helps. Thanks again!

[2016-02-10 01:10] khoaofgod commented on #223
@olivermcruz
phpFastCache::setup is not working.
Look at folder: examples/global.setup.php that file will tell you how to use version 4.
However, if you can go to release, and pull version 3 it stable too.

[2016-02-10 07:03] khoaofgod commented on #69
@nikmauro Tags is added
https://github.com/PHPSocialNetwork/phpfastcache/releases/tag/4.1.0

Look at Examples/Tags.YourCaching.php

[2016-02-10 07:03] #72 closed

[2016-02-10 07:08] maxicms commented on #69
stunned, it happened. Wow. You are best

[2016-02-10 07:12] khoaofgod commented on #69
Example of tagging function here:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/examples/Tags.YourCaching.php

[2016-02-10 08:55] #69 closed

[2016-02-10 18:26] olivermcruz commented on #223
@khoaofgod - Thanks for a quick response.
I followed the examples/global.setup.php.
So my new setup looks like this:
    require_once("libs/phpfastcache/src/phpFastCache/phpFastCache.php");
    use phpFastCache\CacheManager;
    $config = array(
        "storage"   =>  "predis", //redis not working
        "redis" => $REDIS_CONFIG
    );
    CacheManager::setup($config);
    $PFC = CacheManager::g

[2016-02-10 18:26] #223 closed

[2016-02-10 18:26] olivermcruz opened #224 "@method Search for all drivers"
I noticed there is a new api search (unless it was already on version 3) i tried using this method
like this: $PFC->search('hello');
But im getting error
( ! ) Fatal error: Uncaught exception 'phpFastCache\Exceptions\phpFastCacheDriverException' with message 'Search method is not supported by this driver.' in C:\wamp\www\theweddingexpert.com\libs\phpfastcache\src\phpFastCache\Core\DriverAbstract.p

[2016-02-10 18:28] khoaofgod commented on #223
@olivermcruz
oh, redis mean you have to setup "pecl install redis" on your server to make Redis extensions for PHP.
Incase your dont have access to server, phpFastCache built in "predis" to help people use redis without install PHP extensions.

[2016-02-10 18:30] khoaofgod commented on #224
right now Redis is not support search yes, the search is only work for files right now.
You can use Tags it work almost like search.
I will put search to global caching soon on next weeks.

[2016-02-10 19:00] olivermcruz commented on #223
Predis is exactly what i needed. i dont like to adding extensions as much as possible. Thanks again!

[2016-02-10 21:19] khoaofgod commented on #224
@olivermcruz  method @search added. Look at Examples: Search.YourCaching.Php

https://github.com/PHPSocialNetwork/phpfastcache/releases/tag/4.2.1

[2016-02-10 21:38] #224 closed

[2016-02-10 21:39] #122 closed

[2016-02-10 21:39] #170 closed

[2016-02-10 21:39] #132 closed

[2016-02-10 21:40] #128 closed

[2016-02-10 21:40] #138 closed

[2016-02-10 21:40] #158 closed

[2016-02-10 21:40] #174 closed

[2016-02-10 21:40] #149 closed

[2016-02-10 21:41] #153 closed

[2016-02-10 21:41] #113 closed

[2016-02-10 21:41] #78 closed

[2016-02-10 21:41] #73 closed

[2016-02-10 21:41] #180 closed

[2016-02-10 21:42] khoaofgod commented on #133
Add them soon

[2016-02-10 21:42] khoaofgod commented on #107
Add them soon

[2016-02-10 21:42] #164 closed

[2016-02-10 21:42] khoaofgod commented on #134
add mb_ function soon

[2016-02-10 21:43] #169 closed

[2016-02-10 21:45] fbonzon commented on #138
So, was this config useful? Or is it obsolete in version 4?

[2016-02-10 21:46] khoaofgod commented on #138
on version 4 its fixed already.
Look at Examples: global.setup.php
^_^

[2016-02-11 01:11] khoaofgod commented on #134
Done.

[2016-02-11 01:11] #134 closed

[2016-02-11 06:26] SebastianZ commented on #122
There is no update on the mentioned page, so why did this get closed?

Sebastian

[2016-02-11 08:11] khoaofgod commented on #122
this one closed because we have plan to make a new wiki next week already. New Wiki on phpfastcache.com not github anymore, since we gonna have 3 version : 3,4,5

[2016-02-11 10:51] wloske commented on #174
Can you please explain why you closed this?

[2016-02-11 13:23] Geolim4 commented on #174
It was probably fixed :)

[2016-02-11 13:52] wloske commented on #174
Might be. Might be not. ;-) ... I thought a little message would be nice or a link to a commit ...

[2016-02-11 14:18] SebastianZ commented on #122
I see. So I'll have a look again when the new wiki is up. Thanks for the fast reply!

Sebastian

[2016-02-13 18:41] khoaofgod opened #230 "Warning: phpFastCache is now faster than before 10 times"
Using my unique caching method, at version 4.3.1 , phpFastCache support a totally new and refeshing caching.

If you use "Files" or "Sqlite" you still can get "almost" the same speed of memcache / redis / mongodb. Also, the CPU Load & High I/O Load of Files Open will be reduce to minimum. You will have faster caching , faster than traditional files cache at least 10 times.

If you use "Memcache" a

[2016-02-15 08:25] nikmauro opened #232 "CachingMethod and Setup right syntax"
* Please more explanation about right syntax setup and CachingMethod.
* The CachingMethod setting affect all storage types?
* The CachingMethod is proper to use as setup variable? ['','method'=>'fast','']
[code]

[2016-02-15 09:29] khoaofgod commented on #232
yes, it's gonna effect all storage after call CachingMethod.
It come with 3 values: normal, fast, fastest ( default is fastest = phpfastcache )
or: normal, memory, phpfastcache.

On setup , you can put: cache_method = 1,2,3 ( default is 2 = fastest , 1 is normal , 3 is memory )

[2016-02-15 10:54] nikmauro commented on #232
Thanks!

[2016-02-15 10:54] #232 closed

[2016-02-16 18:55] swatip-erosnow opened #233 "[Question] - How do I know when cache is getting full?"
I'm planning to use the lib extensively. Is there any way to know if cache is full? Depending on how much space I might want to delete some keys. Is the eviction policy handled in lib already?

Thanks

[2016-02-16 19:28] khoaofgod commented on #233
for Files / Sqlite they store on disk, so, u can build a function get diskpace
Other caching use memory, and on Linux , sometime it show full memory, but actually not full yet, they are reserved memory for running apps faster. For memcached / Memcached, u can call their function to get available memory.

I will assigned this one and put them to a new function for next release on next 3 weeks.

[2016-02-16 20:08] swatip-erosnow commented on #233
It would be better to have the method available in the lib. Without method will have atleast 2 handles to memcached.
Also, I'm planning to use stats to find out more about hits and misses. Current stats() method does provide all the keys, corresponding size and write_time. Did I miss something?

[2016-02-20 07:20] juntao commented on #102
I had the same issue. And I believe the problem is this line:

https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Drivers/files.php#L130

It will NOT write if the cache file already exists ... (because the last file_exists check)

Also, the $written variable should start off "false" on this line:

https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCach

[2016-02-20 07:40] khoaofgod commented on #102
K, I will take it this weekend

[2016-02-20 14:55] akbaryahya opened #234 "delete() does not work"
I just got an update, getting into trouble

delete(); not work in new update

[code]

but when I use

[code]

it works but is old?

when I tried to debug using
[code]
I think in latest version it does not delete because
[code]
I'm using php 5.5/5.3, files, linux (CloudLinux?)
so what should I do now?
btw how do I enable debug?

[2016-02-20 20:41] jahanna commented on #234
Same here, when phpfastcache is active delete method can't locate to instanced keyword.

On Core/DriverAbstract.php within delete method;

CacheManager::$memory[$this->config['instance']][$keyword]

This always returns null and can't find the index of $keyword.

Traditional trigger with;

 $this->driver_delete($keyword, $option);

Works.

[2016-02-21 02:01] Geolim4 commented on #234
We'll have a look , thanks for the report :)

[2016-02-21 02:46] khoaofgod commented on #234
gotcha, i fix it now

[2016-02-21 02:52] khoaofgod commented on #234
Fixed

[2016-02-21 02:59] khoaofgod commented on #102
Fixed

[2016-02-21 02:59] #102 closed

[2016-02-21 09:03] belliash commented on #230
Hmmm... First you say. that "phpFastCache is now faster than before 10 times", but few sentences later I can read that "it's faster at least 3 - 4 times". I see some inconsistency in your description.
What is more I couldn't find any comparison and/or benchmark done on website. Could you prove somehow it is really faster?

[2016-02-21 09:11] khoaofgod commented on #230
I said 10 times for "Files", because I also store temporary data to memory to reuse it, so the I/O load not gonna high like before.

For memcached, it stores in Memory already as default, can't be much faster, but my caching logic will reduce the hit missing rated to minimum and reduce the connection to memcached deamon, as it used the temporary memory of PHP to keep the caching, and don't need to

[2016-02-21 09:17] #230 closed

[2016-02-21 09:18] khoaofgod commented on #233
I will add this as function on next one,
Added to working list already.
Also, you will have 1 more function to see hit rate of phpfastCache

[2016-02-21 09:18] #233 closed

[2016-02-21 09:18] khoaofgod commented on #133
added to working schedule next release.

[2016-02-21 09:18] khoaofgod commented on #107
added to working scheudle for next release.

[2016-02-21 09:18] #107 closed

[2016-02-21 10:25] belliash commented on #230
I still have one question. Is your timing based on any benchmark, as I couldn't find any comparison on website, or is that just your saying?

[2016-02-21 18:59] juntao commented on #102
Thanks! I tried the new release and it works flawlessly now. 
CheersMichael

On Sat, Feb 20, 2016 at 6:59 PM -0800, "Khoa Bui" <notifications@github.com> wrote:

Fixed

—
Reply to this email directly or view it on GitHub.

[2016-02-22 08:28] nikmauro opened #235 "New methods suggestions"
Hello here some suggestions  methods for new version!
[code]

[2016-02-22 18:42] Geolim4 commented on #235
Hi @nikmauro, you can extends phpfastCache to implements 'em.
If you look closely to the driver interface they already exists:

https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/DriverInterface.php

[2016-02-22 18:42] #235 closed

[2016-02-25 19:30] atn4z7 opened #236 "Memcached and Redis's LRU algorithm"
Hi,
If the storage mode is set to Memcached or Redis, will LRU be used by default and no configuration is needed? Also, is there a way I can set the max memory for either Memcached or Redis via phpfastcache interface (100MB for example)?
Thanks in advance!

[2016-02-25 22:47] khoaofgod commented on #236
hi An,
by default it will connect to default setting of Memcache & Redis.
If your server have custom setup, you can look at phpFastCache folder Examples for redis & memcache.
We can't set limit max memory for both of them, because they control over Background Service. but you can limit by the deamon command on memcache, or redis config on server.

[2016-02-25 22:47] #236 closed

[2016-02-26 13:09] belliash opened #237 "phpfastcache speed"
Could you prove somehow it is really faster? Is your timing based on any benchmark, as I couldn't find any comparison on website, or is that just your saying?

[2016-02-26 17:37] khoaofgod commented on #237
we don't have time for it right now, still have many other functions are on developing. However if u want, u can do a loop 1 to 50,000 , and use phpFastCache with another normal file cache, use microtime and try call / get / write and see

[2016-02-26 17:37] #237 closed

[2016-02-26 19:28] belliash commented on #237
This is not a benchmark. If a client connects to your website, some data are fetched from database and then saved in cache. In *MOST* if not all situations, you use cached variable once per request. I cant image you would need to access metadata of article several times. Even so, once you grab them from cache and store in variable/registry/etc... they can be used all the time during script executi

[2016-02-26 19:30] belliash commented on #237
Or as I see, it is much easier to close the ticket instead . . .

[2016-02-26 20:53] swatip-erosnow opened #238 "Config for memcache"
Hi,

I'm using memcache storage. I would like to make sure that if memcached isn't running, I would like to fallback on option files and path. However when I specify this, keys are always stored on files mentioned at a path under newly created folder with hostname. Here is the config for the same -
CacheManager::setup(array(
		"storage"   =>  "memcache",
		"server"        =>  array(
				array("127

[2016-02-26 21:03] khoaofgod commented on #238
yes, when "overwrite" setup , it will use "files". So, remove that line.
I will take a look at the "fallback" , fallback is different setup. I will update this ticket when i get home

[2016-02-29 11:13] DerDu opened #241 "What about a mechanism concerning max cookie size to prevent 400 bad requests"
I'm not sure if this can be achieved but it would be nice to have.

I. an automatically check of the current cookies size (before set) and

II.a) if it would exceed the 4kb border (=> III)
II.b) if it would not exceed the 4kb border (=> V.a)

III. it should remove the oldest cache item
IV. and re-check free space (till enough space for cache to set) (=> I)

V.a) set cache
V.b) or not set cache if

[2016-02-29 16:22] khoaofgod commented on #241
I see, ok, I added it to the list

[2016-03-02 10:18] fbonzon commented on #230
I think it's just his saying.

[2016-03-02 22:51] w3l opened #243 "4.3.8 PHP Warning (not in 4.3.7)"
After upgrading phpfastcache to 4.3.8 from 4.3.7 i get a bunch of warnings in the log file:

[02-Mar-2016 23:31:28 Europe/Stockholm] PHP Warning:  file_exists(): open_basedir restriction in effect. File(/**secret**/Data/Library/phpFastCache/CacheManager.php) is not within the allowed path(s): (**secret**) in /**secret**/api/vendor/hoa/core/Consistency.php on line 354

[02-Mar-2016 23:31:28 Europe/

[2016-03-02 22:55] khoaofgod commented on #243
@Geolim4  : take a look at ur autoloader, bro

[2016-03-02 23:06] khoaofgod commented on #243
@Geolim4 look open_basedir restriction effect on file_exists, so the simple way that I think is:
`ini_get('open_basedir')`

and compare with the path before do file_exists

[2016-03-02 23:43] Geolim4 commented on #243
I'll take a look this week, seems weird anyway :(

[2016-03-02 23:59] Geolim4 commented on #243
@w3l  After reviewing your error, it seem that's not an issue with our autoloader.
I did not introduced file_exists() in the autoloader but is_readable().

And the error is pretty clear:
File(/secret/Data/Library/phpFastCache/CacheManagerphpFastCache/CacheManager.php) is not within the allowed path(s): (secret) in /secret/api/vendor/hoa/core/Consistency.php on line 355

You called directly CacheMa

[2016-03-03 00:36] khoaofgod commented on #243
@Geolim4  is_readable() still get warning by open_basedir
so if you check is_readable before file_exists, it still get the open_basedir warning.
hahahah

[2016-03-03 00:40] khoaofgod commented on #243
@w3l can you verify about this path:
File(/secret/Data/Library/phpFastCache/CacheManagerphpFastCache/CacheManager.php)
is it show on the error_log like that ?

[2016-03-03 00:42] Geolim4 commented on #243
Yeah but i don't get why the error is triggered outside the phpFastCache libs.

[2016-03-03 00:45] khoaofgod commented on #243
oh yeah, shared hosting always got this problem, I will take a look tonight and you can optimize my update.

[2016-03-03 00:49] Geolim4 commented on #243
Yes, but i don't think that an additional check is necessary, it'll slow down the code and hide potential user code issue. Let's waiting more feedback of @w3l  :)

[2016-03-03 09:31] w3l commented on #243
@Geolim4 I have not tuched "Consistency.php", hoa/core just seem to be required by some library. Because of the weird path i guessed the problem was because of your autoloader. This is how I use phpFastCache:

[code]
I never modify code in the composer-folder so the autoload.php and all required libraries are the way composer created them. :-)

Btw. the **secret** part of all paths posted is the s

[2016-03-03 10:03] Geolim4 commented on #243
Do you have a skype or something else to discuss privately ?

[2016-03-03 11:14] w3l commented on #243
@Geolim4 Added Geolim4 on Skype, lets see if that was the correct Skype user... :-p

[2016-03-03 12:12] Geolim4 commented on #243
Yes it is, i'll be online tonight approximately. (8AM UTC+1)

[2016-03-03 12:18] belliash commented on #230
So do I. Take a look at his arguments in #237.
Who uses cache in this way? No-one. Cache should be used to fetch data from once and thus saved in variables they can be used anywhere in your application by registry pattern for example. Data stored in variables will be cleared upon every request, so I don't see any reason for storing everything in variables. This maybe makes things faster, but only

[2016-03-03 21:16] khoaofgod commented on #243
Fixed

[2016-03-03 22:21] w3l commented on #243
Same issue with 4.3.10... :( Going back to 4.3.7 yet again...

[2016-03-03 22:26] khoaofgod commented on #243
@w3l  what the .. heo.. LOL
1. Can you email the warning log to khoaofgod@gmail.com
2. can you run your phpinfo , copy the value of open_basedir and let me know too.
3. I need full path of this file: "Consistency.php"
4. And full path where you store phpFastCache

Thanks, I will debug the code and what different between 0.7 and 0.10

[2016-03-03 22:37] w3l commented on #243
Sure, it's 11:35pm over here so I'll mail you the things requested tomorrow.

Very happy btw that you take bugs like this serious. :-)

[2016-03-05 16:58] Geolim4 commented on #241
Anyway cookie "cache" should be used for very small things, so we must simply trow an exception when the size is exceeded.

[2016-03-10 06:25] shoppingadda opened #253 "how we know php cache is working"
how we know php cache is working after installing

[2016-03-10 06:34] khoaofgod commented on #253
take a look at the cache folder, but it actually work or not, is up to how do you code your class.

[2016-03-10 06:34] #253 closed

[2016-03-10 06:58] shoppingadda commented on #253
i just include this file on my header section of website  <?php   Include("phpfastcache/phpFastCache/phpFastCache.php");?>

[2016-03-10 06:59] shoppingadda commented on #253
i opened my cache folder "phpfastcache" but tell me what i do on this folder because i want to know my phpFastCache is running or not??

[2016-03-10 07:59] shoppingadda commented on #253
pls reply

[2016-03-10 12:22] Geolim4 commented on #253
Check with the api get() function.
If it return something then it's working :)

[2016-03-11 05:03] shoppingadda commented on #253
bascially i just follow two step for installtion of phpfastcache ,

1. Click Download & Unzip
2. Include("phpFastCache/phpFastCache.php");

Its Enough ??

[2016-03-11 05:11] khoaofgod commented on #253
You need to see Examples, and this is a Library for PHP projects. If you don't understand how to use a library, please hire a developer.

[2016-03-11 05:38] shoppingadda commented on #253
actually i am also a developer but i m little bit confused, if you check this link then there is only two step given for phpcache installtion http://www.phpfastcache.com/   , i install and follow these steps but i am little bif confused

[2016-03-13 11:23] koenpunt commented on #241
Cookie cache is actually not useful at all. Just set the correct expiry headers on the response and let the browser handle the caching.

[2016-03-17 02:03] fredGDS opened #254 "phpFastCache.php throwing fatal error"
When calling phpFastCache() I keep getting a fatal error with this content ('PLEASE CREATE OR CHMOD ' . $full_path . ' - 0777 OR ANY WRITABLE PERMISSION!'). I have all files on the test server set to 777 so there should not be an issue with the permissions. It would be great if anyone knows how to solve that issue. :)

Btw: I just downloaded phpFastCache over composer so it should be the latest ve

[2016-03-17 02:24] khoaofgod commented on #254
Hi. Can u check that full path. To see if u can write there.
On Mar 16, 2016 7:03 PM, "fredGDS" <notifications@github.com> wrote:

[2016-03-17 02:27] fredGDS commented on #254
I just played around a little bit and if I change the code to:

        $tmp_dir = ini_get('upload_tmp_dir') ? ini_get('upload_tmp_dir') : sys_get_temp_dir();
        $path = $tmp_dir;

        $full_path = $path;
        $full_pathx = md5($full_path);

then it works. So I guess that the problem is somewhere with line 164:

else {
                $path = isset($_SERVER[ 'DOCUMENT_ROOT' ]) ? rtrim(

[2016-03-17 03:51] khoaofgod commented on #254
@fredGDS thank you ^_^ I will update the code tonight

[2016-03-20 05:45] w3l commented on #243
Any chance of seeing a fix for this?

Didn't 4.3.8 contain "Implemented our own Autoload for non-composer users", as I said earlier, "Guessing it's an issue with your new autoloader? :)".

Why, btw, would you use your own autoloader with composer? Seems to complicate things. Why not just let composer handle the autoloading and provide your own autoloader as a stand-alone file for non-composer user

[2016-03-20 09:50] Geolim4 commented on #243
After many tests we are sure that is not a part of our autoloader, in fact we never getting out of the open_base_dir.

We did not used composer autoload for the main reason that not everyone is using composer, some people use PhpFastCache vanilla, so it has been decided to implement our own composer.

Also i tried to catch you on skype but unfortunately you were often offline :(

[2016-03-21 10:56] barayuda opened #255 "Is support PSR?"
hello developer mate :)
Is phpfastcache support PSR?

[2016-03-21 13:28] may29adil opened #256 "Fatal error: Uncaught exception 'Exception' with message 'PLEASE CHMOD"
Hello,

i am getting the following error, i gave the permission but still the error is same.

URL http://s584354718.onlinehome.us/RaasCollection_new/

Fatal error: Uncaught exception 'Exception' with message 'PLEASE CHMOD /kunden/homepages/4/d584354717/htdocs/..//s584354718.onlinehome.us- - 0777 OR ANY WRITABLE PERMISSION!' in /homepages/4/d584354717/htdocs/RaasCollection_new/phpfastcache/3.0.0/ph

[2016-03-21 14:09] sv1gzf opened #257 "Memcache Problem on destruct"
Hi great work with the github project

I've been using it for a while. Recentry I downloaded the latest version 4.3.11

I have noticed that the $this->instant is NULL on
 if (!$this->instant->addserver($s[ 0 ], $s[ 1 ])) {
                        $this->fallback = true;
                    }

When the object is destroyed I get
( ! ) Warning: Invalid argument supplied for foreach() in xxxxx/github/

[2016-03-21 16:49] khoaofgod commented on #257
ok,
I update the code tonight together with other bugs.

[2016-03-21 16:49] khoaofgod commented on #256
found the problem, will fix it tonight togther with others bugs.

[2016-03-21 16:49] khoaofgod commented on #255
@Geolim4 ?

[2016-03-21 17:50] Geolim4 commented on #255
We started an approach, but the full implementation wont be completed before 4.4.x or 5.x :)

[2016-03-22 15:28] vatnoise opened #258 "sqlite driver_get() not working"
It was working before but today I've noticed it's not working (although only on localhost, on production it's still all good). Updated it to the latest version and same results.

I'm using the lazy method because there's no composer in our website system.
Tested CacheManager::setup("storage", "files") and that is working fine but "sqlite" is not for some reason.

I've also tried to debug it and ba

[2016-03-22 15:39] khoaofgod commented on #258
Ok, I will take a look tonight too.

[2016-03-22 21:21] may29adil commented on #256
just wondering if you fix the code ?

[2016-03-22 21:59] Geolim4 commented on #256
It'll be fixed in the next release with some others bugs, just be patient ;)

[2016-03-24 05:33] w3l commented on #243
@Geolim4 I gave it another try, I installed 4.3.11 yet again. Same issue.

I changed:
[code]

to:
[code]

Guess what, no issues!

But I can't require 20+ packages individually because one of them don't play nicely with composer. Sure, I could use phpFastCache "vanilla" but my guess is that other composer-users has similar issues(even if it depends on environment, other packages, etc).

To sum thin

[2016-03-24 07:04] Geolim4 commented on #243
Can you send me your composer.json to contact@geolim4.com please ?

Thanks you
Le 24 mars 2016 06:33, "w3l" <notifications@github.com> a écrit :

[2016-03-24 20:10] khoaofgod commented on #258
@vatnoise I tested it on my localhost, and I don't see any problem.
Can you use examples/Sqlite.php and see how it works on your localhost and ur prods.

[2016-03-24 20:12] khoaofgod commented on #257
@sv1gzf I fixed it.

[2016-03-24 20:13] #238 closed

[2016-03-24 20:28] #257 closed

[2016-03-24 20:28] khoaofgod commented on #254
Fixed it

[2016-03-24 20:28] #254 closed

[2016-03-24 20:30] khoaofgod commented on #243
I believe something is wrong with composer.js , and if it happened it my fraud when I changed require phpfastcache/phpfastcache to phpFastCache/phpFastCache , it make the current dir become not existing anymore on Linux :D
I changed back on 4.3.12 that I just fixed many bugs on March.

[2016-03-24 20:33] khoaofgod commented on #258
Try pull new version that I just push today 4.3.12

[2016-03-24 20:43] khoaofgod commented on #241
It's here:
https://github.com/PHPSocialNetwork/phpfastcache/releases/tag/4.3.13
Look at file: example/cookie.php have limited function there.

[2016-03-24 20:43] #241 closed

[2016-03-24 20:44] Geolim4 commented on #243
@khoaofgod I received the composer.json, i will have a look tonigh.

[2016-03-25 21:32] khoaofgod commented on #243
I tested phpFastCache with composer and I don't see any problem.

This is how you can know the problem on your project:
First,
Look at  Vendor/composer/autoload_files.php <-- copy this file content to your computer.

Then,
Update to phpFastCache latest version.
Go to Vendor/composer/autoload_files.php <-- compare this file with the one you backed up.

And see if the PATH of phpFastCache is changed

[2016-03-25 22:26] Geolim4 commented on #243
@khoaofgod I have the composer.json, i'll test it tomorrow :)

[2016-03-26 05:53] w3l commented on #243
Sadly not fixed. :(

Based on http://stackoverflow.com/questions/31265030/can-individual-composer-dependencies-be-suppressed-from-autoloading it seems like hoa/* is autoloading some code that conflicts with phpFastCache. I guess this is an edge-case. I just have to move development dependencies to it's own folder. Ofc I would love to see a fix. But it just seem like older versions av hoa/* if just

[2016-03-26 06:26] khoaofgod commented on #243
so, basicly it's just conficts function with HOA.
Then it will be easy, on morning, I will make a legacy that included everything of phpfastCache, then u just include that file = DONE.

[2016-03-26 14:20] Geolim4 commented on #243
I do need the driver that you use && your open_base_dir setting (in private if you want)

[2016-03-26 14:29] Geolim4 commented on #243
In fact if you look at the ReCaptcha lib: https://github.com/google/recaptcha/blob/master/src/autoload.php

We do exactly the same thing :(

[2016-03-26 14:58] Geolim4 commented on #243
Can you open: vendor/composer/installed.json

And replace phpFastCache autoload with this one:

        "autoload": {
            "psr-0": {
                "": "src/"
            },
            "files": [
                "src/phpFastCache/phpFastCache.php"
            ]
        }`
And then make a composer update.
(Check after the composer update that the psr-0 key is always present).
If it work t

[2016-03-26 20:20] khoaofgod commented on #243
@w3l
This will fix ur problem for sure.
https://github.com/PHPSocialNetwork/phpfastcache/releases/tag/4.3.14

On your index.php or config.php / whatever file store configuration which is loaded first before composer load. Copy & paste this line on it ( on examples folder have it now ).

`define("PHPFASTCACHE_LEGACY",true);`

Then the rest will let Composer handle autoload, it will skip our autoloa

[2016-03-26 20:21] #258 closed

[2016-03-26 20:21] #255 closed

[2016-03-26 21:14] w3l commented on #243
@khoaofgod Yes! That fixed my issue for sure!

[code]

Worked perfectly!

This issue would disappear when https://github.com/phpmetrics/PhpMetrics drops php 5.4 support and start using hoa/ruler 2.* instead of hoa/ruler 1.*. (The conflict with phpFastCache seems to be in hoa/ruler 1.*). But I am very happy you guys could fix the issue! Thanks a lot!

[2016-03-26 21:14] #243 closed

[2016-03-28 22:16] canc commented on #234
Hey @khoaofgod
I'm having same problem. I've downloaded your latest release and i've memcached 1.4.21 running, but can't get delete() command work.

Any ideas?
Thanks.

[2016-03-28 22:19] khoaofgod commented on #234
are you on the latest version, @canc ?

[2016-03-28 22:21] canc commented on #234
@khoaofgod yes. I downloaded again just a few hours ago.

[2016-03-28 22:24] khoaofgod commented on #234
@canc I will reopen the ticket, give me couple hours tonight, I will test it, and fix it. Then you can download again.

[2016-03-28 22:25] canc commented on #234
@khoaofgod thank you for your help, appreciated.

[2016-03-28 22:47] Geolim4 commented on #234
@canc
Can you send me your phpinfo to contact@geolim4.com please ?
Thanks you !

[2016-03-28 22:54] canc commented on #234
@Geolim4 sent, thanks!

[2016-03-28 23:48] Geolim4 commented on #234
Got it, thanks you :)
Le 29 mars 2016 00:54, "canc" <notifications@github.com> a écrit :

[2016-03-29 09:50] vatnoise commented on #258
prod:

    FIRST LOAD // WROTE OBJECT TO CACHE // RELOAD THE PAGE AND SEE // SQLite Cache --> Cache Enabled --> Well done !

    Back to index -- Reload

localhost:

    The connection was reset

    The connection to the server was reset while the page was loading.

        The site could be temporarily unavailable or too busy. Try again in a few moments.
        If you are unable to load any pag

[2016-03-30 08:39] sv1gzf opened #263 "Store an object with phpfastcache"
Is it possible to use phpastcache to store an object without serialization???
I made some tests with serialization and memcache but the serialization - userialization takes long time :(

[2016-03-30 15:35] khoaofgod commented on #263
for File Mode - You can't write object without serialization .
for Memcached - Objects doesn't need serialization to write. phpFastCache don't do serialization for any type of Memory Caching like Memcached / Predis / etc ...

[2016-03-30 17:55] #263 closed

[2016-03-30 19:02] koenpunt commented on #263
@sv1gzf have a look at igbinary

time and space consuming textual representation, igbinary stores php data
structures in a compact binary form. Savings are significant when using
memcached or similar memory based storages for serialized data.
http://pecl.php.net/package/igbinary

[2016-03-30 20:58] khoaofgod commented on #263
@sv1gzf you are using memcache right ? phpFastCache doesn't do serialization on Memcache. It just pass the whole object / varible to Memcache, and let memcache handle it. The serialization is only happen for Files Cache.

[2016-03-30 21:36] Geolim4 commented on #263
serialization is a standart of php included in the core and fast enough for common uses.
We should not rely to third party libs due to performances issues.
Even if pecl extension are compiled they're still less efficient that php core functions :)

[2016-03-30 21:38] Geolim4 commented on #234
To be honest i will have a look this weekend cuz my week days are tiring :)

[2016-03-30 21:43] koenpunt commented on #263
This simply isn't true. Compiled C libraries and/or extensions operate at the same level as the php functions. For example, Igbinary serialize/unserialize functions are even faster than the "core" php serialize/unserialize functions. The only downside to it is that the serialized data isn't humanly readable anymore.

[2016-03-30 21:44] koenpunt commented on #263
And I don't say this library should depend on it, but I'm just suggesting it to @sv1gzf for his implementation.

[2016-03-30 21:49] khoaofgod commented on #263
For Files Cache:
by default serialize is slower than json_encode around 30% as my benmark. But then some people want to cache an object, and json_encode / decode can't handle it good. So, I picked serialize for Files_Cache. the igBinary does serialize faster as binary, but then user will have to install it on their server.
By default PHP 6 & 7, make serialize / core faster than json_encode 70% ( t

[2016-03-30 22:38] Geolim4 commented on #263
The problem is that json_encode doesn't offers any **integrity control**. This part is very important since the cache must be 100% trusted. (Speaking about integrity)
Also serialize is not less readable than json_encode (unless if you use the JSON_PRETTY_PRINT which use significant more disk space).

[2016-03-30 22:42] Geolim4 commented on #263
And i forgot: You can't save object name/state with json_encode() :'(

[2016-03-30 22:55] khoaofgod commented on #263
oh, just forget it, I will just keep serialize as default for file cache driver.
Other drivers like: memcached, predis, mongodb, wincache ...etc <-- phpFastCache just pass the whole object to the driver, and I don't think they do any serialize methods there for sure, because they store in memory.

[2016-03-31 08:11] koenpunt commented on #263
Even though you pass the object, internally all these objects are serialized into something that can be represented in the storage of the driver.

[2016-03-31 08:40] khoaofgod commented on #263
@koenpunt then what can we do ? If memcached decided to do serialized somehow, then it's up to  them. hahahahahahah.

There are 4 things involved in fetching a remote object whether you fetch from memcached / redis / or database:
-serialization/deserialization
-network transfer
-request processing and
-potential disk access

The question here is the original poster asked: Is it possible to use php

[2016-03-31 09:13] koenpunt commented on #263
@khoaofgod I'm just providing other solutions, instead of just saying no.

And the problem possibly lies here, [phpFastCache/Core/DriverInterface.php#L38](https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/DriverInterface.php#L38), what makes @sv1gzf think only strings are supported.

[2016-03-31 09:27] khoaofgod commented on #263
hahaha, true. I will make a note to update that line.

[2016-03-31 10:02] koenpunt commented on #263
_significant_ isn't the right word here, test for example the following:

[code]

Which is only 13% difference.

[2016-03-31 10:33] Geolim4 commented on #263
For small objects yes, it's small, what about big object ? :)

[2016-04-02 17:45] Geolim4 commented on #118
As the v4 will be supported for a while, the psr6 will be implemented in v5 (branch created but no yet commited).

[2016-04-02 21:05] canc commented on #234
hi @Geolim4, @khoaofgod
any progress on this? or do you have any suggestions for a workaround?

thanks.

[2016-04-03 20:50] khoaofgod commented on #234
@canc : can download get final commit and try again. Let me know. ( not the release )

[2016-04-04 01:49] canc commented on #234
@khoaofgod tried it but no luck. still can't delete.

[2016-04-04 01:55] canc commented on #234
hmm, this is interesting. your example code seems to work fine. i'll take a look again, looks like there's something wrong with my code.

![screen shot 2016-04-04 at 04 54 25](https://cloud.githubusercontent.com/assets/8061037/14236650/7225f844-fa21-11e5-82a7-3428a1dcc77d.png)

[2016-04-04 02:19] canc commented on #234
i finally got it work!
i changed my config completely with your memcached example (/examples/memcached.php) and boom!

it's just weird that the config methods on your webpage ("Document") causing problems.

anyway, thanks for your support!

[2016-04-04 15:57] #234 closed

[2016-04-07 20:43] caperneoignis opened #266 "Cache does not expire in given duration"
While doing PHPUnit testing for a class using phpfastcache, I noticed the cache does not expire after a given duration.

[code]

The above is the unit testing the below is the cache class I made using phpFastCache.

[code]

The value is still getting returned even if I set the duration to 1 second. I need the duration to be a fixed size, in order to have reports refresh within a specified time fra

[2016-04-07 20:48] khoaofgod commented on #266
@Geolim4 can you help on this one. I'm not good at this.

[2016-04-07 21:38] Geolim4 commented on #266
@caperneoignis

Hi thanks you for your report, i have some questions:

1- What's the driver tested ?
2- Can you test for a cache duration that take at least 1 minute please ?

Thanks you :)

[2016-04-07 21:48] khoaofgod commented on #266
I think he used ::Files()  and expired time is 1 second.

[2016-04-07 22:00] caperneoignis commented on #266
Okay, I'll extend out the test duration to a minute. And yes, I was doing files, it is set in the constructor for the FastCache class.

[2016-04-07 22:08] caperneoignis commented on #266
Okay, I changed the duration to 63, and the corresponding sleep times. I received the same results, the last two assertTrue(s) failed. Which means the cache was not cleared after 63 seconds.

[2016-04-08 23:06] khoaofgod commented on #266
@caperneoignis Can you use the last commit ( not release, and try again ). Let us know. We debugged but I didn't see any issues.

[2016-04-08 23:09] khoaofgod commented on #266
Because sometime phpFastCache will try to store "all small varibles" to memory and didn't write to Files yet. Until the script finish, it will write everything to files 1 time to make the respone time / reduce hard disk access time. So, if it happened, because the sleep() there.

On the latest comit, I disabled that behavier by default to save more memory, and only enable if user config set to TRU

[2016-04-09 01:45] caperneoignis commented on #266
Okay, it wont be till Monday when I get back in the office, but I'll let you know as soon as I can try it again. Is there a better way to test? If the script doesn't write till the end of the script, can I do a phpUnitTest to see if the config exist after a minute or so after running the last phpunit test? IE just run the test then wait 2 minutes and then rerun the unit test to see if the cache di

[2016-04-11 05:41] barayuda commented on #118
Thank you, hope can join to prepare on it :)

[2016-04-11 12:58] Geolim4 commented on #118
I will need some testers so can i get in touch with you when the first preview will be available ?

[2016-04-11 14:09] caperneoignis commented on #266
Okay, so after downloading the newest dev version, using composer. I re-ran the test. I changed a couple of things about the test.
1. I got ride of the cache->clear command.
2. I used a stop watch to count to 63 seconds after the test case ran.
3. I also did the same test but only after 10 seconds.

Number 2. item passed, the cache no longer existed after a minute and 3 seconds.
Number 3. item fai

[2016-04-11 22:42] khoaofgod commented on #266
okay, so everything is good, so I closed the ticket.

[2016-04-11 22:42] #266 closed

[2016-04-12 16:57] tatet opened #267 "Search feature is not compatible with tags"
I tried enabling search mode and then categorized my cache data into tags but did not work. I dived in the code and I could see that when the search mode is enabled overrides tags option with de "search" tag, maybe merging the array can fix the issue.

https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/DriverAbstract.php#L109-L117

[2016-04-12 16:59] khoaofgod commented on #267
thank you, I will commit the fix in 1-2 hours, and you can try again. I will let you know.

[2016-04-12 18:05] khoaofgod commented on #267
@tatet : Fixed, you can try again ( not the release yet, just download the code from last commit )
https://github.com/PHPSocialNetwork/phpfastcache/archive/final.zip

and Let me know if it fix the problem / or just simple close the ticket.

[2016-04-12 18:29] tatet commented on #267
Now works perfect!!! Thanks a lot!!

Best Regards.

[2016-04-12 18:29] #267 closed

[2016-04-15 19:19] Dimofinf-mark opened #270 "PHP Fatal error"
PHP Fatal error:  Access to undeclared static property: phpFastCache\CacheManager::$memory in phpFastCache\CacheManager.php on line 163

[2016-04-15 19:41] khoaofgod commented on #270
I will update it today and let u know.

[2016-04-16 21:38] Dimofinf-mark commented on #270
thanks

[2016-04-17 10:49] Dimofinf-mark commented on #270
Note: only in cache_method 3

[2016-04-17 17:08] erhanharm opened #271 "Delete Key with prefix ?"
Hello
Thanks for this library. I searched but can not find this feature

My cache keys like   data_%dataid%
e.g.     data_123      data_356

So ı want to delete cache files like    data_*
so how can i do that ?

Thanks in advanced
Erhan

[2016-04-17 21:56] khoaofgod commented on #271
You can look at example folder, Tags and Search. They will do that
function.
On Apr 17, 2016 10:08 AM, "erhanharm" <notifications@github.com> wrote:

[2016-04-17 22:36] Geolim4 commented on #271
You cal also store an array of your value and re-set/get it with unseted key :)

[2016-04-18 00:18] khoaofgod commented on #271
You have to do like that with files cache. With other cache methods, they
have built in functions. You can call the driver and call their function
directly. Like Redis or Memcached.
On Apr 17, 2016 3:36 PM, "Georges" <notifications@github.com> wrote:

[2016-04-18 00:18] khoaofgod commented on #271
But the logic of work is the same.
On Apr 17, 2016 5:18 PM, "Banh Mi DSLR101" <khoaofgod@gmail.com> wrote:

[2016-04-18 02:21] khoaofgod commented on #271
When you write a cache use Tag, and then you can use "deleteTags" to delete these cache. Or you can enable search, then look by keyname only and delete these keys.

[2016-04-18 07:27] erhanharm commented on #271
Hi thanks everyone,

But when i tried to search i got this error;

I use File cache. should i install sqlLite ?

[PHP Fatal error:  Uncaught exception 'phpFastCache\\Exceptions\\phpFastCacheDriverException' with message 'SQLITE is not installed, cannot continue.' in /var/www/otokilik/src/phpFastCache/Drivers/sqlite.php:73\nStack trace:\n#0 /var/www/otokolik/src/phpFastCache/CacheManager.php(91): p

[2016-04-19 10:10] alexboss commented on #52
Dear phpFastCache team,

I also encountered the same problem but I'm not able to provide steps to reproduce as the problems happens randomly.

`Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[HY000]: General error: 5 database is locked' in /the/path/to/phpfastcache_2.1.0/drivers/sqlite.php on line 272`
`( ! ) PDOException: SQLSTATE[HY000]: General error: 5 database is locked

[2016-04-25 17:18] khoaofgod commented on #271
You can install SQLite, or you can go there and change it:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/DriverAbstract.php#L665

change the work sqLite to Files

[2016-04-25 17:18] #271 closed

[2016-04-25 17:22] khoaofgod commented on #270
I don't see the problem. Can you try download the new final code and try again.

[2016-04-26 22:31] Geolim4 commented on #118
Hi, the V5 just got his first commit with psr6 implementation:

https://github.com/PHPSocialNetwork/phpfastcache/tree/v5
Anyway i suggest you to carefully read the roadmap: https://github.com/PHPSocialNetwork/phpfastcache/blob/v5/V5-ROADMAP.md

The V5 is not yet finalized neither released, it's just for information :)
We're working hard on it, expect again 2 months of dev for the first BETA :)

Re

[2016-04-26 22:33] Geolim4 commented on #118
@lean-stack Will be added to the roadmap

[2016-04-26 22:34] Geolim4 commented on #118
@bfintal The v4 will be maintained for at least 2 years until v4.5.x maybe 4.6.x
We want user to have the time to upgrade their code to be php 5.5/composer compatible.

[2016-04-27 18:00] jbhamilton opened #272 "Cache Stats"
I'm providing a GUI interface around cached data and I'm using `driver_stats()` method to get a summary of all the data in the cache, but it is unfortunately not including the expired time stamp as a key. Right now it only provides the size (bytes) and the write time. I'm I missing something simple I could do to get this or should I create a fork?

[2016-04-27 18:07] khoaofgod commented on #272
which driver you planned to use? and can you provide a format that you would like us to make for driver_stats ?
The problems with the stats is each driver provider different return back base on their built-in functions. Let's find a universal format for all of them.

[2016-04-27 18:07] #270 closed

[2016-04-27 18:24] jbhamilton commented on #272
For my needs I'm only using the files driver. I understand that it would need to be implemented across all drivers uniformly and right now it appears each driver stats returns a consistent root level structure:
[code]
I have not checked, and I'm assuming that the structure of `data` varies between the drivers.

Ultimately I would like to see `data` return a consistent structure across drivers like

[2016-04-27 20:01] khoaofgod commented on #272
I see. I put this one in progress, and it will be done in 5 - 7 days for files, sqlite and memcached first.

[2016-04-27 20:08] jbhamilton commented on #272
Awesome! If theres anything I can do I may have a few hours I could spare to help. Let me know.

[2016-04-27 20:44] Geolim4 commented on #272
For the v4 we will keep this as an array, anyway for the v4 an object *CacheStatistic* (with a cool API doc) will be returned.
But keep in mind that this is an enhancement and not a bugfix, so bug will be fixed first :)

[2016-04-27 20:53] khoaofgod commented on #272
@jbhamilton if you can do this for Files Cache, can you help me with Files ? then just commit it, I will just duplicated ur code for other driver.

[2016-04-28 09:05] on-d-mand opened #273 "Search not working in between pages"
Currently we're implementing PHP fast Cache into one of our projects and have great results so far (thanks for that)!.

We are having issues with the search functionality on both APC and File storage where Search is only functional on the page where the cache was previously set. This can be easily reproduced by editing 'Search.YourCaching.php' running it once with both $cache->set functions and di

[2016-04-28 15:47] khoaofgod commented on #273
can you create an examples file and send it to me khoaofgod@gmail.com to show me more details ( leave comment on source code, and output that you see on ur screen in comment ). I am not sure what's problem here. When you turn the search all, it store all Key Index to a database. so it should work with all pages before or after page calls.

[2016-04-29 05:51] on-d-mand commented on #273
Hi Khoa, an e-mail has been sent to you with the example files.

For others reproduction can easily created by running the script and thus setting the cache and then just simply renaming set to get (and echo-ing) to see the values exist but are not searchable

[2016-04-29 06:46] khoaofgod commented on #273
i got it, i will run the test.

On Thu, Apr 28, 2016 at 10:51 PM, On-d-mand <notifications@github.com>
wrote:

[2016-05-01 11:11] jbcubed3 opened #274 "Cache Clean Problem?"
Hi,

Having a problem with the clearing the cache and reading cache stats.

Code looks like this:
require_once("/phpfastcache/phpfastcache.php");
$cache = phpFastCache();
$cache->clean();

I can remove an individual cache object just fine with $cache->delete(); but clean();
is failing for some reason. Caching does seem to work though, just can't seem to clean() anymore - despite it working previou

[2016-05-01 12:43] Geolim4 commented on #274
Hi,

What kind of driver are you using ?

Regards,

Le 01/05/2016 à 13:11, jbcubed3 a écrit :

[2016-05-01 12:45] jbcubed3 commented on #274
@Geolim4 - I'm using xampp on localhost at the moment, and phpfastcache set to auto

It's been working fine so far but today $cache->clean(); fails for some reason and not sure why!

[2016-05-01 12:47] Geolim4 commented on #274
Can you debug your cache instance and tell me the kind of driver you are using ?

[2016-05-01 13:20] jbcubed3 commented on #274
@Geolim4 - unfortunately not sure how for both questions, can you please elaborate

[2016-05-01 21:29] khoaofgod commented on #274
@jbcubed3 can you try this with latest version and see if the problem still there.

[2016-05-01 21:40] jbcubed3 commented on #274
@khoaofgod - Hi - is there any other way to clear the cache?
I'm using this on localhost/XAMPP at the moment. I tried to use latest version, but getting some errors.

$cache->delete, $cache->get and $cache->set work perfectly, just that $cache->clean just doesn't clear the cache out anymore - but I haven't changed any settings.

How do I debug the cache instance?

[2016-05-01 21:54] khoaofgod commented on #274
I will commit a new example file by tonight and let you know for u can run that test file for clean();

[2016-05-02 06:07] Geolim4 commented on #274
Use var_dump() or get_class() and tell us the driver used.
Le 1 mai 2016 23:54, "Khoa Bui" <notifications@github.com> a écrit :

[2016-05-02 06:55] on-d-mand commented on #273
Hi Khao(ofgod?)

We've started looking into this issue since we're currently stuck with a inefficient custom clean up code for our tool and noticed that changing the "cache_method" in _tagCaching from 3 to 2 (Line 670) seems to fix searching in the examples and also in our own projects!. I'm unaware what the difference is between those 2 methods internally but this might give you an idea on where

[2016-05-02 07:01] on-d-mand commented on #273
Last issue we do find (can open a new ticket) is that the tags for the search are not cleaned after a delete.. Might be a minor thing I don't know.

[2016-05-02 07:08] khoaofgod commented on #273
oh, that the fix memory bugs, I did release it on April 15th. Try it. I think it will fix your problem.

[2016-05-02 08:21] jbcubed3 commented on #274
Hi @Geolim4 - this is what I get for var_dump():

object(phpfastcache_files)#1 (4) { ["tmp"]=> array(0) { } ["config"]=> array(9) { ["storage"]=> string(4) "auto" ["default_chmod"]=> int(511) ["htaccess"]=> bool(true) ["path"]=> string(0) "" ["securityKey"]=> string(4) "auto" ["memcache"]=> array(1) { [0]=> array(3) { [0]=> string(9) "127.0.0.1" [1]=> int(11211) [2]=> int(1) } } ["redis"]=> array(

[2016-05-02 08:48] on-d-mand commented on #273
Indeed! Would it be possible to mention the version nr somewhere in the code? Through composer I've received 4.3 which was stated as the latest version. But apparently online there is already a newer version in the GIT. In the code the version nr is never mentioned thus it is very hard to check if composer or the local repository is out of date

[2016-05-02 19:33] Geolim4 commented on #272
For your information the v5 has implemented a specific object for the statistic: 5d545e49b6c23d55d7273d0074b9cd26d368d2fa

The documentation about this will follow when the v5 come out :)

[2016-05-04 17:36] khoaofgod commented on #273
hahaha. That's the problem, when we fixed bugs, we can't release the code to composer right that day, we have to wait until 15th or 1st of month for release new version.
I will make a mailing list next month for any fix bugs will be send to mailing list, it will be better on keep track.

[2016-05-04 17:36] #273 closed

[2016-05-04 18:26] jbcubed3 commented on #274
Hi @Geolim4 @khoaofgod - do you have any suggestions? Does the var_dump look okay?

[2016-05-11 10:13] hupengbuaa opened #279 ""Can't use this driver for your website" problem"
`        $config = [
            'storage' => 'files',
            'path'  => '\path\to\cache'
        ]; `
   `     CacheManager::setup($config);`
   `     CacheManager::CachingMethod();`
  `      $cache = CacheManager::getInstance();`
The above is part of my code, just the same as the document, so why I get the problem. And unfortunately I couldn't google the problem out,  so little info of it.

[2016-05-11 11:12] Geolim4 commented on #279
What about ?

    $cache = CacheManager::getInstance('Files', ['path' => '\path\to\cache']);

[2016-05-11 11:13] Geolim4 commented on #279
Also is your directory writable and readable ? (Not outside php open_basedir)

[2016-05-12 21:04] jbcubed3 commented on #274
Hi guys - any ideas?

[2016-05-12 21:10] Geolim4 commented on #274
Does the target directory is writeable ?

[2016-05-12 21:11] jbcubed3 commented on #274
Hi @Geolim4 - should be - I can read/write to the cache and create new objects - but I just can't clear it all for some reason!

[2016-05-12 21:15] Geolim4 commented on #274
Weird, i can't reproduce it right now,i guess that you use Windows Env ?

[2016-05-12 21:15] jbcubed3 commented on #274
Yep - using XAMPP for development/testing atm

[2016-05-12 21:23] Geolim4 commented on #274
Do you have the possibility to test it on Lamp or even Map please (Linx/Mac) ?

[2016-05-14 10:05] val4o0o0 opened #283 "All data is gone for seconds"
I using this beautiful cache class, but when my storage is files or sqlite numerous data is gone for 1 (one second) and shows again after that second.
I want to prevent that thing. How to do that ? Or I must use memcache type ?

[2016-05-14 12:27] Geolim4 commented on #283
Where did you put the $path config ?

[2016-05-14 12:34] mahmed-ntd opened #284 "Object of class IdiormResultSet could not be converted to string"
Cannot store object of class,

CacheManager::setup('path');
CacheManager::CachingMethod();
$cache_instance = CacheManager::Files();

[2016-05-14 12:37] Geolim4 commented on #284
You did it the wrong way, here is the good one:
$cache_instance = CacheManager::Files(array('path' => 'path to the cache'));

[2016-05-14 12:43] val4o0o0 commented on #283
In my config file

[code]

[2016-05-14 12:54] Geolim4 commented on #283
your path must be an absolute path

[2016-05-14 13:03] val4o0o0 commented on #283
The cache/localhost is created and there is sqlite cache files (two) with information in them. Everything seem's to be ok.
Only information with numbers is hidden for one sec, the other one information with text and numbers is not hidden like the data with numbers only.

I try with:
` "path"      => __DIR__. "/cache",`
but not working for me.

I don't want to put self-written path like C:/program

[2016-05-14 13:17] Geolim4 commented on #283
__DIR__ returns an absolute path so it's fine. To be honest i have no idea of such behaviour o.O

[2016-05-14 13:19] val4o0o0 commented on #283
OK, i'll waiting someone with ideas how to fix this, because is annoying and people ask what's going on (where is the information)

[2016-05-14 13:32] Geolim4 commented on #283
did you have a "slow" I/O server performance ?
Sqlite can take a while especially when writing a lot of data.

[2016-05-14 13:41] val4o0o0 commented on #283
I'm on localhost. Sqlite and 'files' type working the same. The data with numbers only is hidden for one sec (when cache is expired and when is time to generate new - it shows again)

Here is some piece of code:
function get_total_sessions() {
global $link, $bb_prefix, $bb_db, $cacher;

$total_sessions= $cacher->get("total_sessions_from_forum");
if(is_null($total_sessions)) {
    $mysql=mysqli_que

[2016-05-14 16:23] Geolim4 commented on #283
You had the same issue with both Files and Sqlite drivers ?

[2016-05-14 17:15] val4o0o0 commented on #283
Yes, exactly. :)

[2016-05-15 00:13] mahmed-ntd commented on #284
Thanks @Geolim4 it worked now.

Really appreciate for your rapid reply.

[2016-05-15 00:22] Geolim4 commented on #284
You're welcome :)

[2016-05-15 00:22] #284 closed

[2016-05-17 08:04] ylorant opened #286 "Cannot create cache on Windows machine on non-standard ports"
Hey there,

This morning, I tried to set up remote debbuging tools for Chrome to debug my phone, and with that, I set up port forwarding to my phone on the 8080 port. And then, I got an error from PHPFastCache that couldn't create its cache folder named "localhost:8080" (using the files driver obviously). Indeed since I am on Windows, I can't create folders nor files with colons in them.

I think

[2016-05-17 08:10] Geolim4 commented on #286
Ok, i handle it.

[2016-05-17 22:29] #286 closed

[2016-05-17 22:31] Geolim4 commented on #286
Fixed, thanks you for your contribution.

:innocent:

[2016-05-17 22:34] Geolim4 commented on #283
I can't reproduce the problem right now :/

[2016-05-18 00:59] khoaofgod commented on #283
both Files & SQlite based on I/O of HDD. When the HDD locked access because it reached full speed, the results will always return NULL.
@val4o0o0  Try to use this on setup of phpFastCache:
cache_method => 2

This one will reduce I/O load for slow Hard Drive and multiple access on same caching on 1 script. Try this and let me know.

[2016-05-18 01:00] khoaofgod commented on #279
Closed the ticket since it was 7 days without new respones

[2016-05-18 01:00] #279 closed

[2016-05-18 18:50] Geolim4 commented on #118
The psr6 is now fully implemented in v5.
Thanks you for your contribution :)

[2016-05-18 18:50] #118 closed

[2016-05-19 17:01] val4o0o0 commented on #283
Not working with cache_method => 2 too. The data is hiding again and again :)

[2016-05-25 08:28] ddauto opened #288 "search feature is strange"
Hi,
Thanks for this great class.

I encounter a strange search problem.
I patched the DriverAbstract.php with the newest code and changed below, cause I didn't install sqlite:
protected function _tagCaching()
{
    return CacheManager::Memcached(
      array(
        //"path" => $this->config[ 'path' ],
        "cache_method" => 2,
      )
    );
}

I use a class with a static function.

public st

[2016-05-25 15:56] khoaofgod commented on #288
Have you followed this setup:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/examples/Search.YourCaching.php

"allow_search"  =>  true

[2016-05-25 16:53] ddauto commented on #288
Hi,
Thanks for quick response.
Yes, I enabled the option in Core/phpFastCache.php public static $config
and I changed below code also, I can't remove both of "path" and "cache_method", it will broken the whole php.

but it still not works.

    protected function _tagCaching()
    {
        return CacheManager::Memcached(
          array(
            "path" => $this->config[ 'path' ]
            /

[2016-05-25 17:04] ddauto commented on #288
I seems understand now, is the search function only can search the cache content that "set" in the same one request?
For example, if a.php set the key="abc", value="def", then b.php search the key "abc", it can't be searched, right? even the cache stored in memcached.

Cause If I set the key="abc" in a.php and search this key following the set, it can search the key correctly.

thanks.

[2016-05-25 17:32] khoaofgod commented on #288
just remove the whole array(
        "path" => $this->config[ 'path' ]
        //"cache_method" => 2,
      )

The search function can use anytime, not in same request. However if your memcached restart, the indexing will be clean out.

I have a solution for you, use ::Files with cache_method" => 2 instead of Memcached.
It will works.

[2016-05-26 05:01] ddauto commented on #288
Hi, all my environment is sample.

[a.php]

<?php
require_once $_SERVER['DOCUMENT_ROOT'] . '/include/config_inc.php';

use phpFastCache\CacheManager;

$key="test";
$cache = CacheManager::Memcached();
if (trim($_REQUEST['s'])=="Y"){
	$cache->delete($key);
	$cache->set($key, "value1", 10000);
}

echo "isExist=" . $cache->isExisting($key) . "<BR>";

$rtn=$cache->search($key, false);
var_dump($rtn);
?

[2016-05-26 18:41] Geolim4 commented on #288
Hi !
Did you tried with  getInstance('Memcached') instead ?

[2016-05-27 02:16] ddauto commented on #288
Hi,

<?php
require_once $_SERVER['DOCUMENT_ROOT'] . '/include/config_inc.php';

use phpFastCache\CacheManager;

$cache = CacheManager::getInstance();

$key="test";
//$cache = CacheManager::Memcached();
$cache = CacheManager::getInstance();
if (trim($_REQUEST['s'])=="Y"){
	$cache->delete($key);
	$cache->set($key, "value1", 10000);
}

echo "isExist=" . $cache->isExisting($key) . "<BR>";
echo "value=

[2016-05-27 18:29] Geolim4 commented on #288
is wrong, try $cache = CacheManager::getInstance('Memcached');

:)

[2016-05-28 14:40] ddauto commented on #288
<?php
require_once $_SERVER['DOCUMENT_ROOT'] . '/include/config_inc.php';

use phpFastCache\CacheManager;

//$cache = CacheManager::getInstance();

$key="test";
//$cache = CacheManager::Memcached();
$cache = CacheManager::getInstance('Memcached');
if (trim($_REQUEST['s'])=="Y"){
	$cache->delete($key);
	$cache->set($key, "value1", 10000);
}

echo "isExist=" . $cache->isExisting($key) . "<BR>";
echo

[2016-05-28 15:44] Geolim4 commented on #288
Can you use the tags instead ?

[2016-05-30 20:21] val4o0o0 commented on #283
I try with memcache - all data is gone for forever now. This problem is only happen with numbers only.
Maybe the core can't catch numbers (something goes wrong and can't catch them)
Please, test memcache with simple as:

[code]

[2016-05-30 20:56] Geolim4 commented on #283
What abotu casting to string ?

[2016-05-30 21:06] val4o0o0 commented on #283
I try with string too - not working.

[2016-05-30 21:22] Geolim4 commented on #283
Then i don't know what's wrong for now.
Maybe @khoaofgod will know something i missed :'(

[2016-05-31 15:30] ddauto commented on #288
<?php
error_reporting(-1);
require_once $_SERVER['DOCUMENT_ROOT'] . '/include/config_inc.php';

use phpFastCache\CacheManager;

$key="test";
$cache = CacheManager::getInstance('Memcached');
if (trim($_REQUEST['s'])=="Y"){

    $cache->set($key, "value1", 10000, array("tags" => array("tag1","tag2","tag3")));

}

$list = $cache->getTags(array("tag1"));
var_dump($list);

?>

Still not work.
test.php?

[2016-05-31 15:39] khoaofgod commented on #288
Just change the sqlite to Memcached. Then run examples/search and tags. To
see if the results you get is good or not.
On May 31, 2016 8:30 AM, "ddauto" <notifications@github.com> wrote:

[2016-05-31 17:32] Geolim4 commented on #272
An objet has been dedicated to this work in V5, see:
https://github.com/PHPSocialNetwork/phpfastcache/wiki/[V5]-The-cache-statistics
Unfortunately we can't extract statistic key-based due to performances issues.

[2016-05-31 17:32] #272 closed

[2016-06-01 16:14] ddauto commented on #288
Hi,
I have time to trace in the codes and I seems found the root cause.
The root cause is in:
DriverAbstract.php     "getTags" function
When I marked below line, and search feature and tag feature is ok, I found this issue is because when I use "search" or "getTags" method second time, it will can't get the result anymore.

$this->_tagCaching()->set($this->_getTagName($tag), $list, $tmp);

this li

[2016-06-01 16:56] khoaofgod commented on #288
Can you do me a favor @ddauto  ?
Make an examples file to pre-produce this problem, and send it to me at khoaofgod@gmail.com
For I can just run it and see what happened with the result.

[2016-06-01 16:58] khoaofgod commented on #283
@val4o0o0
Can you do me a favor?
Can you make an example file which will pre-produce this problem, and then send it to me at khoaofgod@gmail.com
For I can just run it, and debug the problem.

[2016-06-01 17:22] val4o0o0 commented on #283
I find the problem. Memcache php module is Enable, but memcached server is not installed. When the server is installed - everything is ok. But data is hiding again for one second and shows again after this second.
This happens when cache expire and data need to be overwritten in cache files (or memcache server)
I can make a video clip for you, to see what is happen. :)

[2016-06-01 17:29] khoaofgod commented on #283
LOL. So, what are your solution for this one?

[2016-06-01 17:45] val4o0o0 commented on #283
I don't have a solution. I write here, to get a solution and fix this problem. I think that local files is the problem with this hiding process, but now when i using memcache now - everything is the same.
The data is hiding again.

I don't know, maybe this cannot be fixed...
I hope that php fastcache works in way with overwritting files / memory (not to delete and create new)
I have not seeing the

[2016-06-01 18:01] khoaofgod commented on #283
Okay,
I notice this ticket when I develop new features will try to handle this one.

[2016-06-01 18:01] #283 closed

[2016-06-14 14:18] mpemburn opened #289 "Fatal error CacheManager.php on line 163"
I'm running a script to retrieve a number of items from the cache.  It is doing this successfully, but, after everything is finished, I get this error:

PHP Fatal error:  Access to undeclared static property: phpFastCache\CacheManager::$memory in [path]vendor/phpfastcache/phpfastcache/src/phpFastCache/CacheManager.php on line 163

Doesn't appear to affect anything, but I'd prefer to have no myster

[2016-06-14 16:41] khoaofgod commented on #289
Can you try the new latest commit and see if it fix the problem or not.
I remember this one was a bug from old version.

[2016-06-17 11:12] mpemburn commented on #289
Thanks for your reply— and sorry for my delay in getting back to you.  I pulled from https://github.com/PHPSocialNetwork/phpfastcache and still see the same message.

Don't know if this makes any difference, but here's what I'm doing: using a file-based cache, I retrieve a  record containing ~1,200 keys.  I then iterate over those keys and retrieve data associated with them.  As I mentioned, no er

[2016-06-18 13:29] Geolim4 commented on #289
Hi,
We can't find out the origin of this issue, as you can see that property is already well-defined:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/CacheManager.php#L40

Don't you, anytime in your code, unset this var ?
Regards,
Georges

[2016-06-18 17:10] mpemburn commented on #289
Hi Georges,

Yes, I did look at this as soon as I encountered the error and no, I had no
reason to touch that part of the code.  What I can do, the next chance I
get, is to see what happens if I change the storage class and, if that
doesn't work, step the code to see I can find the point in the call stack
where it's changed.

Yours,

Mark

On Sat, Jun 18, 2016 at 9:29 AM, Georges <notifications@gi

[2016-06-18 19:22] Geolim4 commented on #289
Can you temporary set this property to "protected" instead of public to identify out the code part that unset this var.

Thanks you,
Georges

[2016-06-19 18:38] Tim456 opened #291 "Use with pagination"
Hello,

First of all thank you for this awesome class!!!
It would be great to see an example of how to use phpfastcache with a pagination.

Thank you.

[2016-06-19 18:47] khoaofgod commented on #291
put page number and something else together in your $keywork.

[2016-06-19 18:59] Geolim4 commented on #291
Exactly !

[2016-06-19 19:10] #291 closed

[2016-06-20 08:09] dutom007 opened #292 "Old Files"
Hi,

First thanks for FastCache ! It's amazing !

I have one question : Is Fastcache delete old files automaticly ?

[2016-06-20 12:12] Geolim4 commented on #292
In V4 it should do it, but you can manually delete these files using clean() method. But this will destroy the cache.

[2016-06-20 12:16] dutom007 commented on #292
Ok, Thx

[2016-06-20 12:16] #292 closed

[2016-06-21 11:19] mpemburn commented on #289
Hi Georges,

I tried your suggestion this morning, and this was the result:

PHP Fatal error:  Cannot access protected property
phpFastCache\CacheManager::$memory in
.../vendor/phpfastcache/phpfastcache/src/phpFastCache/Core/DriverAbstract.php
on line 149

Also, I only get the original error (CacheManager line 163) on our Linux
staging server (running PHP 5.6.11) and not on my Mac dev box (running

[2016-06-21 11:57] Geolim4 commented on #289
Ok thanks you i will have a look tonight.
Georges

[2016-06-22 13:38] nikmauro opened #293 "Driver not found"
After update from version 4 to 5 i have this error

[code]

here my implementation

[code]

[2016-06-22 13:51] Geolim4 commented on #293
Please read the doc and the wiki, the V5 is a full rewrite of the lib.
Thanks you :)

[2016-06-22 22:36] Geolim4 commented on #293
Also here's the readme:
https://github.com/PHPSocialNetwork/phpfastcache/blob/v5/README.md

[2016-06-22 22:36] #293 closed

[2016-06-22 22:43] Geolim4 commented on #289
I really can't reproduce this bug. And there's no code that unset this var, it's always reset to "array()"
You may have a php memory leak (this occurs pretty often tho). Try to upgrade your php version to the last 5.6.x version (if possible).

Regards,
Georges

[2016-06-23 12:17] reno1979 opened #294 "Cache clear permission denied (v5 rc2)"
When not setting an explicit path the fastcache clear() function will try to delete all content in the dir retrieved from sys_get_temp_dir()

when I change my config to:

`CacheManager::getInstance("files",array('securityKey'=>"long", 'path'=>sys_get_temp_dir()."/cache");
`
The phpfastcache clear mechanism will work.

ps. I all ready use a securitykey to create separate multiple instances

[2016-06-23 22:16] Geolim4 commented on #294
Can you try with the latest fix ?
(Not merged yet, so you have to hard-fix it)

[2016-06-23 22:16] Geolim4 commented on #294
448c49ce97ed55c3361e2365a0ebe90b8a9bd08c

[2016-06-24 07:37] Geolim4 commented on #294
Sorry i just realized that i pushed on the wrong branch....

[2016-06-24 07:42] reno1979 commented on #294
Your fix should do the trick, I'll hard-fix it for now. :)

Thank you,

[2016-06-24 07:52] reno1979 commented on #294
fix works, but for now I'll explicitly set path in config to prevent te same errors on composer update etc

[2016-06-24 13:28] reno1979 opened #296 "getItem suggestion for improvement (v5 RC2)"
In the getItem function (StandardPsr6StructureTrait.php) I noticed the use of array_key_exist()

In my experience using isset is significantly faster. (5 times) But be aware, isset() is testing if the key exists and if the value is not NULL

Perhaps worth testing.

A nice blog: http://www.zomeoff.com/php-fast-way-to-determine-a-key-elements-existance-in-an-array/

[2016-06-24 17:11] Geolim4 commented on #294
Ok, i will release it on master, thanks you.

[2016-06-24 17:11] #294 closed

[2016-06-24 17:23] Geolim4 commented on #296
Indeed, I always thought that array_key_exist was faster than isset (despite it's a structure control) due to the fact that isset checks if the key exist and is not null while array_key_exists just tests if the key exists.
Thanks for the benchmark, would you make a pull request for this ?

[2016-06-24 18:27] Geolim4 commented on #294
Fixed on V5. If no bug appears, the release will be dispatched next week

[2016-06-24 19:04] Geolim4 commented on #274
Fixed with #294 :)
We identified the bug in an other way.

[2016-06-24 19:04] #274 closed

[2016-06-24 20:12] reno1979 commented on #296
Ok I will try

[2016-06-24 20:27] reno1979 opened #298 "V5 on php 5.3"
I  know the requirements are php 5.5 or higher.

But I was wondering what  parts of the code causes this requirement.

I noticed the sleek array creation with  the [ ]
Is there a lot more that causes php 5.5 requirements?

[2016-06-24 21:53] Geolim4 commented on #298
Hi Reno,

The sleek array (5.4) is not the only one reason that lead us to make this choice.
The main reason is that php 5.3 and 5.4 are now in EOL state which mean they are **abandonned**, the 5.5 is also so close of EOL because it reached the Security Fixe Only state. By this choice we want to push the users to migrate as soon of possible to a more recent php version. It may look selfish, but we

[2016-06-24 21:53] #298 closed

[2016-06-24 22:00] Geolim4 commented on #296
Ok, i give your some time to do it, anyway my stash is ready, just in case :smile:

[2016-06-24 22:01] Geolim4 commented on #296
Just donc forget to checkout on v5 ... :)

[2016-06-25 07:02] reno1979 commented on #296
Ok this can be closed, just read the explanation why the use of array_key_exist and it is a very good reason.

[2016-06-25 13:31] Geolim4 commented on #296
Ok thanks you :)

[2016-06-25 13:31] #296 closed

[2016-06-26 18:04] #289 closed

[2016-06-29 06:19] reno1979 commented on #298
Hello Georges,

;) I can understand that the sleek array [ ] is not the only reason to switch to 5.5
I also agree that users should be encouraged to migrate as soon as possible.

In my current projects I still have very old parts of code and a migration tot 5.6 or higher is not yet available for each of the projects.

Because of the completely rewritten code in v5 (and that I rather use the new pr

[2016-06-29 17:57] Geolim4 commented on #298
If you code is very old old you can still use the v4 for 2 years until we stop the support of this one.

[2016-07-04 14:44] toutavous opened #310 "phpfastcache Support for MongoDB Driver"
phpfastcache doesn't appear to support MongoDB driver yet. Kindly add this to your to-do list.

[2016-07-04 16:35] Geolim4 commented on #310
Will be added for 5.1

[2016-07-04 16:36] Geolim4 opened #312 "Add creation/modification date to Item Object"
All in the title :)

[2016-07-04 17:37] toutavous commented on #310
Thanks so much in advance. I never had the time to appreciate you both for such a wonderful cache solution. I look forward to it.

[2016-07-04 17:59] Geolim4 commented on #310
Thanks you to you for trusting on Pfc  :)

[2016-07-04 23:02] Geolim4 commented on #312
Done in a0e7c62f506d0156f417dde97fc220173aaffabd :)

[2016-07-04 23:02] #312 closed

[2016-07-04 23:05] Geolim4 commented on #310
Planned in 5.1 as per [V5.1 Roadmap](https://github.com/PHPSocialNetwork/phpfastcache/blob/v5.1/V5.1-ROADMAP.md) :)

[2016-07-04 23:05] #310 closed

[2016-07-05 09:34] Geolim4 opened #313 "Define default ttl in config"
If not specified on item, will use the default config.

[2016-07-05 16:56] #313 closed

[2016-07-08 04:34] ltloibrights opened #316 "fix editable disabled cell handsontable Shu0040"

[2016-07-08 04:34] #316 closed

[2016-07-08 04:40] khoaofgod commented on #316
LOL @ltloibrights : Chuyen gi ?

[2016-07-10 10:26] Geolim4 commented on #310
Would you like to provide me a ftp access with a test url where your
server is installed ?

Mine just crashed and i do not have any other server on my hand :/
Thanks you,

Georges

Le 04/07/2016 à 19:37, toutavous a écrit :

[2016-07-10 10:27] Geolim4 commented on #310
@toutavous

[2016-07-15 20:43] abunour22 opened #322 "Redis stats issue"
There is a problem with stats !!

Call to undefined method phpFastCache\Drivers\Redis\Driver::stats()

how can i solve it ?!

[2016-07-15 21:10] abunour22 commented on #322
Thank you,
You should update documentation on http://www.phpfastcache.com/

[2016-07-15 22:04] Geolim4 commented on #322
You right, it's planned and we will do it asap.
In the meantime the readme and the wiki are up to date ;)

[2016-07-21 09:28] cotthemh opened #327 "tagging does not work with memcache"
when you use tagging with the memcache driver this does not work you get a driver error:

Type: phpFastCache\Exceptions\phpFastCacheDriverException
Message: SQLITE is not installed, cannot continue.
File: /var/www/nelosproject/dist/api/vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/sqlite.php
Line: 73
Trace

#0 /var/www/nelosproject/dist/api/vendor/phpfastcache/phpfastcache/src/phpFastC

[2016-07-21 10:30] Geolim4 commented on #327
Hello,

This is most likely because your php installation does not include Pdo_Sqlite.
Check it out and try again later.

Cheers,
Georges

[2016-07-21 12:45] cotthemh commented on #327
ye i looked into the code, actually tags only work when you install sql-lite, i think you should put that in the doc somewhere, because now its confusing, also im not sure i want to install sql lite on my server.

what would give the fastest results using phpfastcache?  now i use memcache but maybe something else is faster (its just standalone)

[2016-07-21 18:16] Geolim4 commented on #327
We will specify this in the V4 branch, anyway the V5 will fix this problem because the tags are stored in the same driver than items :)

[2016-07-21 18:16] #327 closed

[2016-07-21 18:24] cotthemh commented on #327
Ok, great plan, so which driver you recommend on a server with plenty of memory? I want something ultra fast

Thx:)

H

[2016-07-21 20:00] Geolim4 commented on #327
Ssdb and Redis a both great and very efficient !

[2016-07-25 13:00] phuyem opened #330 "Argument 1 passed to phpFastCache\Core\DriverAbstract::driverUnwrapTime() must be of the type array, boolean given"
This just rarely happens but it is still a bug

	Argument 1 passed to phpFastCache\Core\DriverAbstract::driverUnwrapTime() must be of the type array, boolean given, called in /somepath/ow_libraries/vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Files/Driver.php on line 122
	File: /somepath/ow_libraries/vendor/phpfastcache/phpfastcache/src/phpFastCache/Cache/DriverBaseTrait.php

	Trace:

[2016-07-25 16:32] Geolim4 commented on #330
I'll check it out. What's your Os/driver used?
Thanks you.

Le 25 juil. 2016 15:00, "phuyem" <notifications@github.com> a écrit :

[2016-07-25 17:09] phuyem commented on #330
It is Windows 10, Files driver . I proposed a fix actually,

in \phpfastcache\phpfastcache\src\phpFastCache\Drivers\Files\Driver.php, line 122

adding !is_array($object) ||

   if (!is_array($object) || $this->driverUnwrapTime($object)->getTimestamp() < time()) {
        @unlink($file_path);

        return null;
    }

[2016-07-25 17:11] Geolim4 commented on #330
I will make some test, the weird part is that i'm testing on a strict environment, so this error should appeared before oO

[2016-07-25 17:15] Geolim4 commented on #330
Is that boolean true or false ?

[2016-07-25 17:16] phuyem commented on #330
I just applied phpfastcache for around 1 week, no problem on Windows 10 so far.

The problem happened on our Production, which is ubuntu 16.04, the cache location is /tmp.  we are running nginx-fpm along with php command client for cron job.

Merci pour la reponse rapide et le superbe lib :-)

[2016-07-25 17:18] Geolim4 commented on #330
Merci de lui faire confiance et de lui donner sa chance :)
Thanks for trusting it and giving it a try :)

I'm gonna made an additional check on the abstract class. May this will help.

[2016-07-25 17:18] phuyem commented on #330
False, I guess it may be some data corruption or something

#0 /somepath/ow_libraries/vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Files/Driver.php(122): phpFastCache\Core\DriverAbstract->driverUnwrapTime(false)

the error looks minor but it does crash the whole flow... so I dunno if I should catch that error...

[2016-07-25 17:19] Geolim4 commented on #330
It must be true because this statement is true:

https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/StandardPsr6StructureTrait.php#L57

[2016-07-25 17:24] phuyem commented on #330
hmm, I see.. but wait you are showing line 57, but this error occurred at line 55

#1 /somepath/ow_libraries/vendor/phpfastcache/phpfastcache/src/phpFastCache/Core/StandardPsr6StructureTrait.php(55): phpFastCache\Drivers\Files\Driver->driverRead(Object(phpFastCache\Drivers\Files\Item))

and the log said it is a "false"

[2016-07-25 17:26] Geolim4 commented on #330
Weird, what do you have at line 122 ?
#0 /somepath/ow_libraries/vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Files/Driver.php(122)

Can you dump the whole file on gist please ?

[2016-07-25 17:43] Geolim4 commented on #330
At line 57: https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Core/StandardPsr6StructureTrait.php#L57

Can you replace
[code]
with

[code]

[2016-07-25 19:08] Geolim4 commented on #330
@phuyem Is it working for you ?

[2016-07-26 20:49] Geolim4 opened #331 "[Improvement] Possibility to detach item(s) from Pool"
For better memory management we should offers the possibility to detach one or all item cached by Pfc.
Detached entities can be re-attached only in case that the same cache item has not yet been retrieved from low-level driver.

[2016-07-27 08:42] ddauto commented on #133
Hi,
Does the newest version include the SASL auth ready?
Thanks.

[2016-07-27 10:54] Geolim4 commented on #133
Hi, not yet, i will add this to my todo-list.
Sorry for closed the bug too soon :)

[2016-07-28 11:29] Geolim4 commented on #330
@phuyem Bump !

[2016-07-29 20:13] Geolim4 commented on #330
@phuyem I need your confirmation before merging this patch, thanks !

[2016-07-29 21:33] Geolim4 commented on #331
[Merged](https://github.com/PHPSocialNetwork/phpfastcache/pull/332) :+1:

[2016-07-29 21:33] #331 closed

[2016-07-29 22:06] Geolim4 commented on #133
[Merged](https://github.com/PHPSocialNetwork/phpfastcache/pull/333) :+1:

[2016-07-29 22:06] #133 closed

[2016-07-30 00:17] Geolim4 commented on #288
I’m closing this pull request _for now_ because of (inactivity / outdated code / …).

@(authorname) you can always reopen it though! :) Please (update the pull request / rebase your branch / clarify …).

Regards,
Georges.L

[2016-07-30 00:18] #288 closed

[2016-07-30 12:41] yad1995 opened #337 "Error Code 500 for fopen, fwrite and fclose"
I got this error 500 on phpfastcache module. I did not meddle with any of the files and I was merely clearing the cache then refreshed the site and got a error 500. Any help?

[2016-07-30 12:47] Geolim4 commented on #337
What's your php version ? It look like a server misconfiguration to me.

[2016-08-01 19:11] Geolim4 commented on #337
Hello @yad1995,

I’m closing this pull request _for now_ because of (inactivity / outdated code / …).

You can always reopen it though! :)
Please (update the pull request / rebase your branch / clarify …).

Regards,
Georges.L

[2016-08-01 19:11] #337 closed

[2016-08-02 08:54] phuyem commented on #330
Sorry Geolim4 for the late reply. I was on vacation.

Here is what I did in line 122 Driver.php

        if ($this->driverUnwrapTime($object)->getTimestamp() < time()) {
            @unlink($file_path);

            return null;
        }

=>

        if (!is_array($object) || $this->driverUnwrapTime($object)->getTimestamp() < time()) {
            @unlink($file_path);

            return null;

[2016-08-02 09:06] r0b- commented on #330
@phuyem: I have another code at line 122 in Files/Driver.php
@Geolim4: I think the is_array check will fix the issue for now, but I'm wondering why the decode returns a boolean instead of an array from time to time...

[2016-08-02 15:57] Geolim4 commented on #330
The main reason that the decode methods returns a boolean is that the serialized string is truncated or corrupted which leads unserialize to returns false.
This leads me to the second question: Why the hell does the if() statement is true with false boolean passed through oO ?

[2016-08-02 16:42] Geolim4 commented on #330
@phuyem are you sure that you got the very latest version ?

[2016-08-03 11:19] r0b- commented on #330
Hmm your're right and additional there should be an exception in the line before that (121) because driverUnwrapData() needs an array as well, but somehow it passes this call.

Well I just updated my production environment to the latest version and if the error is thrown the next time I will take another look.

Anyways, I strongly encourage to add the is_array check!

[2016-08-03 18:10] Geolim4 commented on #330
Ok got it, i will fix it asap :)

[2016-08-06 18:06] #330 closed

[2016-08-08 20:56] lambasoft opened #343 "Make cache to never expire ... not working ?"
Hey, I don't know what's wrong with my code, but for some reason my cache is getting removed in like 15 minutes even tho I have set the expiration time to 0.

This is my code:

    require 'vendor/autoload.php';
    use phpFastCache\CacheManager;
    use phpFastCache\Core\phpFastCache;
    if(!isset($InstanceCache)) {
        CacheManager::setDefaultConfig(array("path"=>"cache"));
        $Instanc

[2016-08-08 21:02] Geolim4 commented on #343
Ok got it

[2016-08-08 21:05] Geolim4 commented on #343
Hello @lambasoft ,
This is the intended behavior, the default Ttl is based on 15 min (900 sec):
https://github.com/PHPSocialNetwork/phpfastcache/wiki/%5BV5%5D-The-driver-options

Replace:

`$CachedString->set($cache_key,$result, 0);`

By:

`$CachedString->set($cache_key,$result)->expireAfter($seconds);`
Or
`$CachedString->set($cache_key,$result)->expireAt($dateTime);`

Or you can increase the defa

[2016-08-08 21:05] lambasoft commented on #343
So if I want it to never expire:
`$CachedString->set($cache_key,$result)->expireAfter(0);` ?

Thanks for the quick reply

[2016-08-08 21:08] Geolim4 commented on #343
It depends the driver, but the 0 value can lead to some confusion, i recommend you to define a long date such a year or something like this.

[2016-08-08 21:08] lambasoft commented on #343
Thanks a lot, that's what I'll do ^.^

[2016-08-08 21:09] Geolim4 commented on #343
Also remember the fact that a cache is NOT a database and should not be used as such :)

[2016-08-08 21:09] Geolim4 commented on #343
Happy Poké-coding btw :D

[2016-08-08 22:56] lambasoft commented on #343
Sorry for bothering again, I didn't want to open a new issue.

I'm kind of new to the cache world, and have some questions I'd like to make clear.
You said that I should not use cache as a database, can you explain a bit further ?

I'm using phpfastcache to store information obtained from www.pokeapi.co, I'm fetching 151 pokemon from http://pokeapi.co/api/v2/pokemon/x ( where x is the pokemon id,

[2016-08-08 23:00] khoaofgod commented on #343
@lambasoft it's fine to use it as a database in your situation, because you don't really care if you lose the data inside the cache, you can always fetch it from API again.
Just make it expire after 10 years LOL.

[2016-08-08 23:04] lambasoft commented on #343
Well, there's a problem, that if I'm looping through the 151 pokemon, for a reason it stops on the 71th value.

_This is an example code_
[code]

It seems I can't loop through more than 71 consecutive caches ?

[2016-08-08 23:08] lambasoft commented on #343
For further explanation this is my code:

        function sendRequest($url){
            //return $uri;
            $ch = curl_init();

            $timeout = 5;

            curl_setopt($ch, CURLOPT_URL, $url);
            curl_setopt($ch, CURLOPT_FOLLOWLOCATION, true);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
            curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, $timeout);

[2016-08-08 23:27] khoaofgod commented on #343
Check the PHP Timeout and the time, if it 30 second, try to make it more than that.
on php.ini

[2016-08-08 23:29] khoaofgod commented on #343
Also, debug at ur sendRequest($url); , to see if it stuck at that line or not, that mean you couldn't send request to the API and it stopped there when the 71 is none-cache.

[2016-08-08 23:33] lambasoft commented on #343
I did debug, and the 72th value is getting stuck on `$CachedString = $cache->getItem($cache_key);` the loops stops there on the 72th value.

PHP timeout has nothing to do, as everything loads within seconds and stops on 71th.

[2016-08-09 00:03] lambasoft commented on #343
I got an error:
`<b>Fatal error</b>:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 286387 bytes)`

Why did phpcache used my rams memory ? I should restart my pc ?

[2016-08-09 00:21] lambasoft commented on #343
Alright! I fixed it!

I had to add  `$cache->detachAllItems();` to the end of my getPokeAPI() function, so I release the memory from my RAMS.

I think this should be added to the wiki or examples.

Thanks a lot for your time @khoaofgod , we may close this now.

[2016-08-09 06:35] Geolim4 commented on #343
Mhhhh weird how much data do you store per item?

Le 9 août 2016 2:21 AM, "Ayman Abi Aoun" <notifications@github.com> a
écrit :

Alright! I fixed it!

I had to add $cache->detachAllItems(); to the end of my getPokeAPI()
function, so I release the memory from my RAMS.

I think this should be added to the wiki or examples.

Thanks a lot for your time @khoaofgod <https://github.com/khoaofgod> , we
ma

[2016-08-09 11:15] Geolim4 commented on #343
150 Cache Item is not that much unless if you store more than 500Ko per item, in that case you can quickly reach the max allowed memory.

[2016-08-09 11:26] hammermaps commented on #343
Is APC or Memchache/Couchbase Server not better for this Projekt?

Or save your API Data to NoSQL -> MongodB?

[2016-08-09 14:02] Geolim4 commented on #343
Absolutely, high-performance driver must be used for this kind of application. (see readme.md)

[2016-08-11 04:30] calebdre opened #344 ""Files is not installed or is misconfigured, cannot continue. (0)""
I'm not sure what's happening, i'm going through the sample code on the wiki, but i get this error everytime. I install it via composer and Files directory and Driver file are there.

How can I fix this issue?

[2016-08-11 04:42] PhilHilton commented on #344
I've gotten this error when running under systemd and apache while trying to clear the cache. I suspect it's related to the pseudo private httpd systemd /tmp directories, but I'm not sure.

I had no luck trying to specify an alternate path.

I've been restarting apache (which deletes and creates a new /tmp/[random name]-httpd-blah/ directory) to simulate  a cache clearing as needed, which is rarel

[2016-08-11 06:43] Geolim4 commented on #344
Hi,

Are you sure that the $path is writable by Apache ?

Cheers,
Georges

Le 11 août 2016 6:43 AM, "Khoa Bui" <notifications@github.com> a écrit :

[2016-08-11 11:12] #343 closed

[2016-08-11 11:50] calebdre commented on #344
I'm actually using nginx for the server. Just to make sure, i'm specifying my own path inside of my project to dump the cache files like so:
[code]

I think the error is coming from this line:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/CacheManager.php#L111

It can'ts find the instance here: https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCa

[2016-08-11 12:29] calebdre commented on #344
Okay i just figured it out - it was the line the @Geolim4 mentioned.

it wasn't automatically creating  the `/tmp/phpfastcache/project/files` directories. And then when i created it, I had to make the directory writable. I also had to make the `./cache/project/files` directory writable.

Thanks for your help @Geolim4 and @PhilHilton!

[2016-08-11 12:29] #344 closed

[2016-08-11 12:37] Geolim4 commented on #344
Thanks you to you for trusting on Pfc :)
Happy coding !!

[2016-08-17 21:49] thingNumber1 opened #347 "Multi Instance Cachea - Example Request"
Hi,

I am new on this of caching (first time doing it) and I want to implement a multicaching but I am not pretty sure how to do it.  I found an example in the site but is kind of confusing to me (maybe due to the tag thing).

I'd like to see if you can provide the simplest posible example of preparing the use of the library (not using composer, yet), preparing the APC and memcached instances and

[2016-08-17 23:15] ATouhou opened #348 "ETA ON V.5?"
Wondering about ETA on v.5?
As to know if it's safe using this in a framework, without having to update everything pretty soon...
:-)

[2016-08-17 23:15] Geolim4 commented on #347
Hi @thingNumber1
If you don't use composer, then follow this example: https://github.com/PHPSocialNetwork/phpfastcache/blob/final/examples/legacy.php

Now if you want to use multiple driver instance, this is possible:

`$MemcacheCache = CacheManager::getInstance('memcache');`
`$ApcCache = CacheManager::getInstance('apc');`
`$XcacheCache = CacheManager::getInstance('xcache');`

For each driver inst

[2016-08-17 23:17] Geolim4 commented on #347
Also please note that the Website is not yet updated, for now you must rely on the Wiki, we'll update the website asap.

Thanks you.

[2016-08-17 23:21] khoaofgod commented on #348
we published V5 already. It's production right now.

[2016-08-17 23:22] Geolim4 commented on #348
Hi,

The V5 is fresh, you can be absolutely be quiet about using it in a framework.
However for the [V4 it's a bit different](https://github.com/PHPSocialNetwork/phpfastcache/wiki/%5BV4%5D-Support-timeline) :)

The V5.1 is coming for Christmas and will not introduce api-breaking features. The V5.1 will be a core update of the V5 with some few core improvements.

For the Summer 2017 a V6 is planned

[2016-08-17 23:26] Geolim4 commented on #348
You can rely on this class to detect any PhpFastCache API updates:
https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Api.php

Please read carefully [this notice](https://github.com/PHPSocialNetwork/phpfastcache/blob/final/src/phpFastCache/Api.php#L25) if you plan to rely on the API version.

[2016-08-17 23:32] ATouhou commented on #348
Thanks for the quick answers :D
Nice community you got going

[2016-08-17 23:32] #348 closed

[2016-08-17 23:33] Geolim4 commented on #348
This community is build on the trust of guys like you ;)
Have a nice day !

[2016-08-18 11:38] thingNumber1 commented on #347
Ok, Thanks. =)

[2016-08-18 11:38] #347 closed

[2016-08-22 00:22] mattheworres opened #352 "Call to undefined method phpFastCache\Drivers\Files\Driver::delete()"
Hi,
When I attempt to call `delete()` on a cache instance that is setup to use `files` storage method, I get this error:

`Call to undefined method phpFastCache\Drivers\Files\Driver::delete()`.

Here's how I'm using it:

[code]

Version I'm using is 5.0.8.

[2016-08-22 00:57] Geolim4 commented on #352
Hello @mattheworres

Please see the Wiki: https://github.com/PHPSocialNetwork/phpfastcache/wiki#item-api
The code structure has changed as of the V5 :)

Cheers,
Georges

[2016-08-22 00:57] #352 closed

[2016-08-22 11:27] SimBioT1954 opened #353 "Files is not installed or is misconfigured, cannot continue"
Updated to V5.
On localhost everything is fine, on server I got this exception:
`Fatal error: Uncaught exception 'phpFastCache\Exceptions\phpFastCacheDriverCheckException' with message 'Files is not installed or is misconfigured, cannot continue.' in (PATH....)/example.com/vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Files/Driver.php:49 Stack trace: #0 `

How can I solve this issue?

[2016-08-22 11:28] Geolim4 commented on #353
Hello,

Check if your path exists and is writable :)

Cheers,
Georges

[2016-08-22 11:33] SimBioT1954 commented on #353
@Geolim4  I'll check this out

[2016-08-22 11:39] SimBioT1954 commented on #353
@Geolim4 that's it. There was `"path" =>  "/files/cache"` instead of  `"path" =>  "files/cache"`

[2016-08-22 11:39] #353 closed

[2016-08-22 13:12] Geolim4 commented on #353
Np, happy caching !

[2016-08-22 16:17] phuyem opened #354 "deleteItemsByTag(s) not remove item from pool right away"
Hello.
Here is my observation of the issue:

Case 1:

1. Invoke deleteItemsByTags return true
2. Then immediate invoke : getItem($key)->get(). **Expect  null  but the cached item**

Case 2

1. Invoke deleteItemsByTags return true
2. Then **later** invoke : getItem($key)->get().  return null  as expected

 => Looking at deleteItemsByTag(s) , I see only **$result = $this->driverDelete($item);**, no

[2016-08-22 16:41] Geolim4 commented on #354
Hello @phuyem

What version are you using exactly ?
I don't see any code looking like `$result = $this->driverDelete($item);` actually.

Cheers,
Georges

[2016-08-22 16:45] Geolim4 commented on #354
Got it, it seems that issue has been fixed in 5.0.6, see 72dbeaed13c5af96444b91e8056dfcdc698d534f :)

[2016-08-22 17:03] phuyem commented on #354
oh, really, let me checkout the latest code. Thank for the info

[2016-08-22 17:23] phuyem commented on #354
updating did indeed solve the issue. What an awkward issue.

Again thank you for your super quick reply.

[2016-08-22 17:23] #354 closed

[2016-08-22 17:29] Geolim4 commented on #354
Np. Happy caching :)

[2016-08-23 08:19] SimBioT1954 opened #355 "Right approach for using phpfastcache?"
Hello, it's me again. As you know I have updated my code to V5 and now I have little question about this.

On current version I got more lines of code than before.

My code before update:
[code]
And for now something like this:

[code]
Am I doing right?

[2016-08-23 08:59] Geolim4 commented on #355
Hello @SimBioT1954

Here is a little guide to help you to migrate your code:
https://github.com/PHPSocialNetwork/phpfastcache/wiki/%5BV4%5D-Migrating-your-code-to-the-V5

Cheers,
georges

[2016-08-23 09:50] #355 closed

[2016-08-27 12:41] sandeepsmn opened #356 "phpfastcache issue"
I have checked and try to implement phpfastcache code but I am bit confuse as you have mentioned the code below

<?php
    // In your config file
    // include("phpFastCache/phpFastCache.php"); or use "Composer" / Autoload
    use phpFastCache\CacheManager;

    $config = array(
        "storage"   =>  "files", // memcached, redis, ssdb, ..etc
        "path"      =>  "/your_cache_path/dir/",

[2016-08-27 12:52] Geolim4 commented on #356
Hi,
As of the V5 the syntax has changed.
Please check out the wiki:
https://github.com/PHPSocialNetwork/phpfastcache/wiki/%5BV4%5D-Migrating-your-code-to-the-V5

It will help you to migrate from v4 syntax :)
Cheers,
Georges

[2016-08-27 13:53] Geolim4 commented on #356
Let me know if have any problem to implements the V5 :)

[2016-08-27 13:53] #356 closed

[2016-08-28 18:55] meirlo opened #357 "Warning: Ambiguous class resolution"
Hi,
I'm Getting this warning message after updating to 5.0.9.

Warning: Ambiguous class resolution,
"phpFastCache\Drivers\Devnull\Item"
was found in both ".../vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Devfalse/Item.php"
and ".../vendor/phpfastcache/phpfastcache/src/phpFastCache/Drivers/Devnull/Item.php",
 the first will be used.

Also, the entire "Psr\Cache" namespace seems to be e

[2016-08-28 19:14] Geolim4 commented on #357
Hi merlo,

I am unable to reproduce this error, which php version did you use ?

Also the Psr\Cache namespace is a purpose for people which does not makes use of composer.

Cheers,
Georges

[2016-08-28 19:16] Geolim4 commented on #357
Hum i may found the origin of the error, let me try something

[2016-08-28 19:22] #357 closed

[2016-08-29 12:35] sandeepsmn commented on #356
Hi,

I am unable to understand the actual process...when I am
running examples/legacy.php then I got below error message

http://192.168.3.28/phpfastcache-final/examples/legacy.php

I don't understand what is the error...please can you provide detailed
documentation.

*SMN Infocom Pvt. Ltd.*
SSRawat
+91 9988061971

On Sat, Aug 27, 2016 at 7:23 PM, Georges.L <notifications@github.com> wrote:

[2016-08-29 12:35] sandeepsmn commented on #356
sorry error msg

*Parse error*: syntax error, unexpected '[' in
*H:\spirewebs\shops\httpdocs\phpfastcache-final\src\autoload.php* on line
*27*

*SMN Infocom Pvt. Ltd.*
SSRawat
+91 9988061971

On Mon, Aug 29, 2016 at 6:05 PM, SSRawat <sandeep@smnpl.com> wrote:

[2016-08-29 13:58] Geolim4 commented on #356
Please note that the V5 requires at least php 5.5.
Also the wiki is pretty clear, can you post me your code, or PM it on gist please ?

[2016-08-30 14:54] IAkumaI opened #359 "How to define cache namespace?"
For example, I run same sites on the one server.
Both of them are used phpFastCache with Memcache driver.

How to define different caches for them?

[2016-08-30 15:45] Geolim4 commented on #359
Hi,

In that case you need to use a shared-memory driver based, such as Redis or Couchbase :)

Cheers,
georges

[2016-08-31 05:27] #359 closed

[2016-09-12 11:27] fastdriven opened #360 "How to use correctly expiresAt()"
I want create a cache for every week
for example:  from Tuesday to Tuesday
I Suppose for realise this, I should use the method: expireAt(as a DateTimeInterface object)

but I can't do it
do you help me please with an exemple?
I did not find with this method on internet.

CacheManager::setDefaultConfig($config);
$InstanceCache = CacheManager::getInstance('files');
$CachedString = $InstanceCache->ge

[2016-09-12 16:40] Geolim4 commented on #360
Hello,

Did you read the wiki and the readme ?
I guess not :)

Use expireAfter() to use DateInterval object. Else DateTime or Int fpr
ExpireAt()

Cheers :)
Georges

Le 12 sept. 2016 1:27 PM, "fastdriven" <notifications@github.com> a écrit :

I want create a cache for every week
for example: from Tuesday to Tuesday
I Suppose for realise this, I should use the method: expireAt(as a
DateTimeInterface